[2021-11-16 07:51] IronButterfly opened #1 "Errors in HomeAssistant log - Can't find device model"
Hello,

I have Eurotronic Spirit Zigbee (SPZB0001) but in homeassistant log I see the following errors:

Logger: homeassistant
Source: custom_components/ai_thermostat/climate.py:372
Integration: ai_thermostat (documentation, issues)
First occurred: 14:45:41 (5 occurrences)
Last logged: 14:46:12

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/config/

[2021-11-16 09:47] KartoffelToby commented on #1
@IronButterfly

In Z2M you can check the setting: "Include device information" under MQTT

Can you include the output from climate.thermo_kitchen from HA Developer tools?

It should be have this values: (i hope i get rid of the legacy stuff soon)

![spirit](https://user-images.githubusercontent.com/8983030/141961571-428bc06e-56cb-4533-a08a-3f5dfb44e230.png)

[2021-11-16 10:11] IronButterfly commented on #1
Thanks, option _include_device_information: true_ in zigbee2mqtt config helped.

Could you please explain in more detail the meaning of the _off_temperature:_ option?
I understand correctly that here we have to set the threshold for the external temperature sensor in the room, which is set by the _temperature_sensor option :_? That is, if the temperature of this sensor is lower than the one define

[2021-11-16 11:01] KartoffelToby commented on #1
OK, there was a misunderstanding here. the off_temperature is only for the "summer" turn off if the outside temperature (from the weather entity) is under this value for two days in a row.

So in my example with off_temperature: 20 the TVR turned off if its more than 20°C Outside for two days.

The calibration with the indoor temperature messured by the external sensor entity is done with the loca

[2021-11-16 11:01] #1 closed

[2021-11-16 12:11] gavyb opened #4 "Not setting temperature of "real" TRV"
I have configured the virtual TRV and also created a group to cover the windows, but having set the "virtual" TRV to a different value from the "real" TRV, it is not changing the temperature of the "real" TRV.
TRV model is TS0601_thermostat.

[2021-11-16 15:19] Eyco1981 opened #5 "Possible issue with version number"
HACS permanently shows an available update for AI Thermostat for Zigbee2MQTT. It states "You are running version v0.1.0-beta, version v0.1.0-beta is available" and updating doesn't clear the HACS update notification.

[2021-11-16 17:39] KartoffelToby commented on #5
@Eyco1981 should be fixed after 0.2.0.

[2021-11-16 17:39] #5 closed

[2021-11-16 17:41] KartoffelToby commented on #4
@gavyb Can you update to 0.2.0 and check if this bug is solved?
If not pls add the HA Developer status output of your TS0601_thermostat like i did in #1

Thanks!

[2021-11-16 22:20] RubenKelevra opened #8 "Project name is missleading"
There's no AI involved here ... so I was wondering if you're open to changing the name? The current one feels a bit missleading.

[2021-11-16 23:21] KartoffelToby commented on #8
@RubenKelevra your right, but i planing to use weather forcast for some kind of smart heating to save energie.

But yes, "Smart" are a better word as AI.

Feel free to make a proposal, but i'm not sure how strong the effort is to rename all the HACS requests

[2021-11-16 23:44] RubenKelevra commented on #8
How about using predictive?

[2021-11-17 00:14] RubenKelevra opened #10 "Use an outside air temperature sensor instead of weather"
I like to use a real sensor instead of a calculated forecast value for the outside temperature... is it possible to implement that as an optional way additionally to the weather entity?

It would also allow the system to know the outside temperature even if the internet connection fails, which is kind of important if you think about power/telephone line/internet outages in storms.

Would the custo

[2021-11-17 09:12] RubenKelevra commented on #8
Or just 'better thermostat'? I think that don't oversell anything but includes a wide range of features in the future :)

[2021-11-17 09:51] RubenKelevra opened #11 "add support for offlabel Moes thermostats"
Hey Toby,

this thermostat works exactly like the Moes you already support (with the weird heat/auto hack to get a forced open thermostat). So your custom component currently does not apply the "patch" necessary, which means turning the heat on will lead to a forced open thermostat.

Here's the Zigbee device info:

[code]

And it is reporting via MQTT to HA as the following device:

[code]

For th

[2021-11-17 09:52] RubenKelevra opened #12 "Bind two thermostats"
I would like to specify two thermostats for one entity of this custom component. I think that's currently not possible, right?

[2021-11-17 09:56] RubenKelevra opened #13 "Link two thermostats if two rooms have the door open between them"
I need to specify more combinations to fully replace my automations for heating:

In the bathroom I like to heat to a higher temperature than the hallway, but only if the door of the bathroom is closed. Else I like to fall back to whatever state is set in the hallway.

So basically that's a master/slave relation with the door as a binary switch to link them or not.

The hallway would be the master

[2021-11-17 10:03] RubenKelevra opened #14 "Valve maintenance"
If a valve is held shut for an extended period of time, it will get sticky. So if the thermostat opens it, it will eventually release with a "piling" noise - or not move at all.

I found a solution to fix this issue (if it's already occurring):
- Open the valve fully
- wait a minute
- close it again
- open the valve fully
- wait a minute
- close it again.

Repeat this once a day for two-three week

[2021-11-17 10:28] RubenKelevra opened #15 "Switch from changing local_temperature_calibration to just change the current_heating_setpoint"
It's quite a while since I tinkered with the thermostats, but I think I tried setting the local_temperature_calibration instead of the setpoint for the thermostat.

IIRC the thermostat will basically reset its PID algorithm if you change the local_temperature_calibration. Resetting the PID algorithm will **not** work in our favor, as it basically eliminates any knowledge of the past.

I was just d

[2021-11-17 11:19] RubenKelevra opened #16 "Add an overswing protection"
Hey Toby,

I did tinker a lot with my thermostats to come up with some methods to avoid the overswing of the air temperature above the set point.

There are multiple measures in place in my automations:

**Air temperature close to setpoint:**

If
- `target_temp - 0.5) < air_temp` is true
- the valve position is above 30% open

Do
- turn the valve forcefully off
- wait until the valve reports close

[2021-11-17 17:20] KartoffelToby commented on #8
better_thermostat sounds good. i'll do a complete renaming when all main bugs are fixed.

[2021-11-17 17:24] KartoffelToby commented on #10
i'll keep it as easy as possible for the user, but yes the weather should be optional.

if you have a basic config example for a HA history sensor entity with a temperature sensor like the xiaomi i'll implement it.

[2021-11-17 17:28] KartoffelToby commented on #11
I haven't a TS0601_thermostat but if i'm correct it should be work with the same remapping as the Spirit.

I'ts implement it in the current master branche, feel free to check it out, will be published with the next release.

[2021-11-17 17:32] #12 closed

[2021-11-17 17:35] KartoffelToby commented on #13
Looks like a duplication move it to #18

[2021-11-17 17:39] KartoffelToby commented on #14
I heard about that, i thought its implementation in the Thermostat itself. On the other hand, not every Thermostat have a adjustable valve.

I think we should add it to the model remapping as an maintainance function that can be loaded if the thermostat has a adjustable valve.

But i haven't implement any time base events in HA feel free to check it out.

[2021-11-17 17:42] KartoffelToby commented on #15
What exactly will not work? I think the calibration method is the best one, since the most Thermostat haven't a option to feed it with an external temperature

[2021-11-17 17:47] KartoffelToby commented on #16
Personally i haven't recognized any "Overheating" problems but my Radiators are very slow.

Did you think some kind of buffer calculation could fix the problem?

I didn't plan a complete manuelly valve based controlling of the Thermostats so i stuck with the calibration and rounding methods 0.5°C isn't really feelable.

But i'm open for a PR of this kind

[2021-11-17 17:49] #11 closed

[2021-11-17 19:21] MarcE85 opened #19 "Timer for window/door sensor"
Hey,

Could you please add a timer option for the door/window sensor? And only if the timer expires force the valve to close.

Regards and thx for this Project

[2021-11-18 15:02] gavyb commented on #4
Thanks - I have updated and it still fails to update the "real" TRV target temperature. I now get the following error:
"Failed to call service climate/set_temperature. 'NoneType' object is not subscriptable"

[2021-11-18 15:25] gavyb commented on #4
additional log details:

2021-11-18 15:23:50 ERROR (MainThread) [homeassistant] Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/config/custom_components/ai_thermostat/climate.py", line 361, in _async_sensor_changed
    await self._async_control_heating()
  File "/config/custom_components/ai_thermostat/climate.py", line 432, in _async_control_heating

[2021-11-18 15:47] gavyb commented on #4
and the following in the zigbee2mgtt log file:

error 2021-11-18 15:44:54: No converter available for 'get' 'local_temperature_calibration' ()

[2021-11-18 17:31] KartoffelToby commented on #4
@gavyb You're a winner, i'm sure you got all current bugs :D
i feel very sorry,

Its a problem with the weather data, what kind of service do you use? In Version 0.4.0 it not longer crash if no data was found and the temp should be setted anyway, just a log warning appears with "no weather data found."

in 0.4.0 the weather entity is also optional and if the issue #10 is closed there will be an al

[2021-11-18 17:35] KartoffelToby commented on #19
@MarcE85
This is a good idea, in 0.4.0 i added a config setting called _window_off_delay_ that will let define you a int in seconds as a tolerance delay for quick open/close actions. Read the Readme as soon as 0.4.0 is published for more infos.

[2021-11-18 17:53] #19 closed

[2021-11-18 18:10] KartoffelToby commented on #8
Have a look to #23 :)

[2021-11-18 20:36] RubenKelevra opened #24 "Issue on start: No method get"
I like to report an issue that seems to happen on startup of HA

### Log message

[code]

[2021-11-18 21:46] gavyb commented on #4
@KartoffelToby to answer your question, I am using AccuWeatherand seems to be returning current temperature, last change 5 hours ago...
I also have UK Met Office and OpenWeather, so I could try one of those ? Interesting that those other 2 were last updated several hours ago, but that's probably another issue elsewhere!

[2021-11-18 22:03] gavyb commented on #4
ok, I have updated to latest version (0.4.0) and am no longer getting these error messages, but the virtual TRV is set to off and does not change the temperature of the real TRV or switch it on. However, when I change the temperature or switch the mode to Heat, this is reflected in the virtual TRV.

[2021-11-18 22:10] gavyb commented on #4
am getting some positive results, will continue to test and provide an update tomorrow...

[2021-11-19 10:07] gavyb commented on #4
I have an automation that turns the "real" TRV to 20 and this is not reflected in the "virtual" TRV - see lscreenshot:
![image](https://user-images.githubusercontent.com/24838927/142604117-b9765c78-ec72-4f33-bf78-cbdc4f16521c.png)

I also am getting some error messages in the main log:

2021-11-19 10:05:27 ERROR (MainThread) [homeassistant] Error doing job: Task exception was never retrieved
Trace

[2021-11-19 11:07] KartoffelToby commented on #4
Oh boy, first thanks for your patient. I need to complete reproduce your environment, for that i need a couple of informations.

TVR Model:
Z2M Version:
HA Version:

HA Dev-Tools output of your Devices:

Z2M Log of the time the problem appears:

I will try to final fix it this weekend.

[2021-11-19 15:25] IvanUpa commented on #4
I had the error above and solved it when I changed the 'name' in the virtual thermostat because with the domain 'climate.' it matched the value from 'thermostat'.
Example:
    name: tvr_bedroom
    thermostat: climate.tvr_bedroom

[2021-11-19 15:48] IvanUpa opened #25 "Exception in callback AIThermostat.async_added_to_hass.<locals>._async_startup"
TRV Model: BRT-100-TRV
Z2M Version: 1.22.0-2
HA Version: 2021.11.4
ai_thermostat version: 0.4.0
weather integration: Meteorologisk institutt (Met.no)

Config ai_thermostat:
[code]
[code]

### Description

There is an error when starting HA:

Logger: homeassistant
Source: custom_components/ai_thermostat/climate.py:217
Integration: ai_thermostat (documentation, issues)
First occurred: 18:46:06 (1 oc

[2021-11-19 21:48] KartoffelToby commented on #4
@gavyb can you check that first? i'm confused that HA allowing this. Its a circular dependency so yeah thats a error pool.

[2021-11-19 21:51] KartoffelToby commented on #25
@IvanUpa I know this bug, but thank you anyway, will be fixed in 0.5.0

But i wonder why you haven't any devices informations in your HA TRV output, have you enabled "include_device_information" in your Z2M instance?

[2021-11-19 22:40] KartoffelToby commented on #14
@RubenKelevra
i'll add this function as an optional config that can set to true or false

Did you think it's enough if it do it this process one a month?

[2021-11-19 22:59] RubenKelevra commented on #14
Nope I don't think so, once a week might be too little actually. It was just a guess.

Just make sure to really wait for the completion of the motor movement and then 60 seconds between operations. Otherwise we might overheat the gearbox and wear it out too quickly.

[2021-11-20 07:52] gavyb commented on #4
@IvanUpa I don't believe I have that problem:

  - platform: ai_thermostat
    name: bedroom_thermostat
    thermostat: climate.master_bedroom_trv
    temperature_sensor: sensor.ble_temperature_master_bedroom
    window_sensors: group.bedroom_windows
    weather: weather.home
    off_temperature: 20

[2021-11-20 07:53] gavyb commented on #4
Apologies for the poor formatting above, I am using my mobile...

[2021-11-20 10:26] IvanUpa commented on #25
@KartoffelToby
Didn't turn it on.
I updated the information, just in case.

Thanks for the integration, waiting for the fix :)

[2021-11-20 13:19] #10 closed

[2021-11-20 13:19] #14 closed

[2021-11-20 13:19] #24 closed

[2021-11-20 13:19] #25 closed

[2021-11-20 13:44] KartoffelToby commented on #25
@IvanUpa 0.5.0 is published, be sure to turn on include_device_information in Z2M otherwise this intigration didn't work correctly

[2021-11-20 13:45] KartoffelToby commented on #4
@gavyb can you checkout 0.5.0, it has a better error log, and what kind of TRV do you use? has it a local_calibration option in Z2M?

[2021-11-20 15:43] IvanUpa commented on #25
Still an error :(

0. include_device_information = on
1. Removed integration and virtual thermostat from config
2. Reboot HA.
3. Installed the integration again from HACS
4. Reboot HA.
5. Created the virtual thermostat again
6. Reboot HA

Error on startup:
Logger: homeassistant
Source: custom_components/ai_thermostat/climate.py:212
Integration: ai_thermostat (documentation, issues)
First occurred:

[2021-11-21 13:03] maartenhendrix opened #27 "Question"
Sorry to bother but would it also be possible to use this with a nest thermostat?
Thank you

[2021-11-21 14:48] KartoffelToby commented on #27
@maartenhendrix What do you mean? i think the nest thermostat has already all this functions, and isn't a Z2M device, i also didn't know if its possible to integrate it as a climate device in HA

[2021-11-21 14:51] maartenhendrix commented on #27
It is more the AI that I’m looking for. It is not Z2M indeed but nest is also not able to know if a door is open.

[2021-11-21 15:01] KartoffelToby commented on #27
Did you thought about a simple automation that's triggered by the window sensor? you can checkout: https://github.com/KartoffelToby/Home-Assistant-Setup/blob/main/blueprints/automation/homeassistant/smart_thermostat.yaml

It's a blueprint for a deCONZ stuff, but you can edit it to only use the window stuff and your nest climate, i think the nest itselfs handle the temperature related stuff better.

[2021-11-21 15:06] maartenhendrix commented on #27
Nice! Than you very much 🙏

[2021-11-21 15:07] #27 closed

[2021-11-21 19:04] gavyb commented on #4
I am using a TS0601 TRV and will now try 0.5.0, but am getting issues with controlling my TRV now, so may need to remove this integration

[2021-11-21 20:06] RubenKelevra opened #30 "Valve maintenance is throwing errors"
I've added the valve maintenance flag to my valves after updating to 0.5.1.

When I try to do anything with them, they throw this error:

[code]

[2021-11-21 20:31] RubenKelevra opened #32 "TS0601 support: 'HVAC_MODE_OFF' is not defined"
Version 0.5.1 throws this error if I try to do anything with this custom component with my TS0601 thermostats.

[code]

[2021-11-21 20:33] RubenKelevra opened #33 "Throws an error about 'NoneType' on startup"
Version 0.5.1 throws this error on startup:

[code]

[2021-11-21 20:37] RubenKelevra commented on #15
Well, you have a PID algorithm inside the thermostats. This algorithm is autotuning itself based on the past inputs it made to the valve and the change in local temperature.

If you change the local_temperature_calibration this autotuning is reset and the valve needs to relearn what input is necessary to achieve the set temperature. This will lead to extremely dumb valve actuation.

[2021-11-21 20:42] RubenKelevra opened #34 "TS0601 is crashing"
Sending a lot of updates to the local_temperature_calibration value leads to crashes of the TS0601 thermostat. It will reboot, but lose the Zigbee connectivity. To restore it I needed to pair it again.

As I already explained in #15, I tried this local_temperature_calibration-value updating process and run into a lot of troubles.

I recommend sending just setpoint updates to the thermostats and do

[2021-11-21 21:23] KartoffelToby commented on #34
@RubenKelevra
#15
OK, i will not replace the local_calibration because it works like a charm with the SPZB0001 and SEA801-Zigbee/SEA802-Zigbee and other devices, without overheating or escalation of the valve. With the target temp methot we lose the manual controlling on the thermostat itselfs because the displayed temp is not the real target, but i get your problem now with the TS0601, its possib

[2021-11-21 21:25] KartoffelToby commented on #15
Will be handled with #34

[2021-11-21 21:28] RubenKelevra commented on #34
I mean. yeah, another issue with the TS0601 is that they won't always transmit the setpoints. So sometimes Zigbee2MQTT doesn't know the setpoint. So just turning it on will lead to the thermostat sending its setpoint which will then change the set temperature in the ai-thermostat because the value is detected as new.

This will lead to the odd behavior that you set the thermostat to something like

[2021-11-21 21:29] KartoffelToby commented on #4
@gavyb
Yes the TS0601 is the problem, i must use a special method to calibrate it, you can take a look at #15 and #34
If you haven't a head to test it longer, i'll understand you. I'll release the 1.0 version if all these problems are fixed under the new name better_thermostat. So you can wait for this.

[2021-11-21 21:31] KartoffelToby commented on #33
Thanks, at this time i missed a good testing env, i build one with a VirtualBox HA OS. Hope this kind of child bugs are gone in the future

[2021-11-21 21:52] alexw1982 commented on #33
Same issue here with 801/802 saswell TRVs (set to legacy in Z2M & set to include device infos in Z2M MQTT settings) - hope this gets fixed. I really wanna run this :-)

`File "/config/custom_components/ai_thermostat/climate.py", line 383, in _async_tvr_changed
if self.hass.states.get(self.heater_entity_id).attributes.get('device').get('model') is not None:
AttributeError: 'NoneType' object has no

[2021-11-21 21:59] alexw1982 opened #35 "Window sensor should be optional"
I feel like window sensor should be optional - people without window sensors should still be able to use this.

Also the readme indicates that a group is required - I guess a single binarity sensor should suffice as well, correct? If so, I would propose to change the description accordingly

[2021-11-21 23:11] #15 closed

[2021-11-21 23:11] #30 closed

[2021-11-21 23:11] #32 closed

[2021-11-21 23:11] #33 closed

[2021-11-21 23:11] #34 closed

[2021-11-22 01:46] RubenKelevra opened #38 "TS0601 cannot activate heat mode or change temperature"
I'm using the TuYa 0601.

My config looks like this:

[code]

When the valve is off and I tap on the heat button of AI Thermostat nothing happens.

If I activate manual+auto on the "real" thermostat in HA AI Thermostat will take the values and show the thermoset as heating.

If I change the target temperature in the AI Thermostat the real and the ai thermostat will be set to off.

I'm using versio

[2021-11-22 07:11] IvanUpa commented on #25
@KartoffelToby
Problem solved, thank you!

[2021-11-22 09:32] KartoffelToby commented on #38
At this point i need your help @RubenKelevra
As i mentioned in the readme under "target temperature calibration" its not possible in this mode to set the target temp directly on the TRV (it will be ignored)

I havent a 0601 but you can help me debugging it if you set:

[code]
in your HA config. Im intrested in the output of "ai_thermostat triggerd"

As you discriped earlier the mode remapping ist

[2021-11-22 17:27] KartoffelToby commented on #8
If we call it "better" it needs a better logo :D

What do you think? @RubenKelevra

<img src="https://user-images.githubusercontent.com/8983030/142906749-7b39563a-3aef-4bf2-9364-e5b8ffae84b6.png" width="300px">
<img src="https://user-images.githubusercontent.com/8983030/142906752-7ee77048-2802-45d4-867b-e557c71a98c8.png" width="300px">

[2021-11-22 17:36] KartoffelToby commented on #16
Will be added to the target temp controlled calibration method

[2021-11-22 17:40] KartoffelToby opened #39 "New function: night reduction"
It would be great if a special target temperature is seated at night so we can save energy.

Possible config:

[code]

[2021-11-22 19:13] RubenKelevra commented on #8
Just use the arm on one side? :)

[2021-11-23 12:49] angustPL opened #40 "GS361A-H04 New device"
### Prerequisites

hvac_modes:
  - 'off'
  - auto
  - heat
min_temp: 15
max_temp: 30
target_temp_step: 1
current_temperature: 27.6
temperature: 28
hvac_action: None
away_mode: 'OFF'
battery: 100
child_lock: UNLOCK
current_heating_setpoint: 28
device:
  applicationVersion: 73
  dateCode: '20180727'
  friendlyName: XYZ
  hardwareVersion: 1
  ieeeAddr: '0x0000000000000'
  manufacturerID: 0
  manufact

[2021-11-23 18:31] KartoffelToby commented on #40
yes it needs a Special Target Temperature calibration. it haven't any system_modes or a local_calibration endpoint.

it will be added in the next Release end of the week.

[2021-11-24 11:33] gavyb commented on #4
it looks like I am getting similar errors, so I think I will wait for 1.0 to be released before using it further. Many thanks for your work  on this.

[2021-11-24 11:33] #4 closed

[2021-11-24 14:25] angustPL opened #41 "TS0601 does not use normal calibration"
Why is TS0601 not using normal calibration even though local_temperature_calibration is available?
Wouldn't that be better?

### Prerequisites

hvac_modes:
  - heat
  - auto
  - 'off'
min_temp: 15
max_temp: 30
target_temp_step: 0.5
preset_modes:
  - none
  - away
  - schedule
  - manual
  - boost
  - complex
  - comfort
  - eco
current_temperature: 24.5
temperature: 25
preset_mode: manual
auto_loc

[2021-11-24 17:00] KartoffelToby commented on #41
I haven't one here, so i must trust @RubenKelevra as he described in #15 and other TS0601 related issues, this TRV will not work propper with the "normal" calibration mode.

if it isn't true or some other versions of the TS0601 will do, i will change it.

I hope Ruben can say something about this.

[2021-11-24 17:07] KartoffelToby commented on #8
<img src="https://user-images.githubusercontent.com/8983030/143283505-52519b75-b872-4719-9f96-908a981d8127.png" width="250px">

Yea, i didn't know whats better XD

[2021-11-24 17:23] KartoffelToby commented on #16
@RubenKelevra Because not all TRV has an exposed valve, we need to do a more optimistic protection, is implemented in 0.7.0 so if you got any issues after this, feel free to reopen this issue

[2021-11-24 17:32] RubenKelevra commented on #41
@angustPL hey!

There's no difference in the way those updates between the set temperature and the actual room temperature are effectively working. We can choose either one, depending on the quirks of the device.

The very popular TS0601 has trouble working with a constantly changing calibration temperature. The field is meant to be manually set on installation, not being changed by external softw

[2021-11-24 17:39] KartoffelToby commented on #41
Thanks, so we keep the target temperature calibration for the TS0601?

I think when i add a other setting to force override the calibration mode it will be confusing for some people.

[2021-11-24 17:43] RubenKelevra commented on #41
Nah, I don't think we need a way force override quirk fixes. They are there for a good reason.

But it might make sense to add a model override, so people can test different sets of quirks on new devices etc.

Also I currently would not recommend doing the OTA update on the TS0601. They work perfectly on the software they are delivered with and there was reports that the OTA update might brick the

[2021-11-24 17:44] KartoffelToby commented on #16
If it's possible for you, you can check out the dev branch and test it.

[2021-11-24 17:49] KartoffelToby commented on #41
I am with you, so i close this issue, its already really simple to create a model overrule or modify an existing one take a look in the model folder and than in that of your device.

I also pin this issue for documentation

[2021-11-25 16:28] IvanUpa commented on #1
@KartoffelToby
Bought two more BRT-100-TRV, connected to z2m and on HA reboot errors:

Logger: custom_components.ai_thermostat.models.models
Source: /config/custom_components/ai_thermostat/models/models.py:17
Integration: ai_thermostat (documentation, issues)
First occurred: 19:14:25 (1 occurrences)
Last logged: 19:14:25
ai_thermostat: can't read the device model of TVR, Enable include_device_info

[2021-11-25 23:47] KartoffelToby commented on #1
@IronButterfly This is a closed issue, but anyway

You must set include_device_information to true in the Zigbee2Mqtt settings.

Be sure your naming of the TRV is right, sometimes the problem is by naming the ai_thermostat entity exacly the same as the real TRV was, e.g.

name: livingroom

will result in climate.livingroom and climate.livingroom_1 or _2.

This error can appear also if your HA inst

[2021-11-26 07:38] IvanUpa opened #43 "Can't find entitiy still retry log messages"
Continuing the problem: https://github.com/KartoffelToby/ai_thermostat/issues/1
p.s. I wrote in a closed issue because I thought that it would be more correct to lead one problem in one issue. I'm sorry.

[code]

[code]

My config is:
[code]

### Description

Bought two more BRT-100-TRV, connected to z2m and on HA reboot errors (HA startup time: 30-45 seconds):

Logger: custom_components.ai_thermo

[2021-11-26 13:14] KartoffelToby commented on #43
@IvanUpa

Will test some configuration with my BRT-100-TRV, i thought the BRT aren't the best chose i have only drouble with them, even if they look great, if its possible i would buy some SPZB0001 or SEA801-Zigbee/SEA802-Zigbee.

But thats not the answer, right ;)

So first (i frogot to write it in the redme) the BRT haven't a system mode, so it can't switch off, my workaround for that is to set

[2021-11-26 15:17] IvanUpa commented on #43
@KartoffelToby

Yes, BRT-100-TRV is "wonderful" device :)
I take it the problems are due to incorrect support in z2m? Some external converter won't fix it working in z2m?

Put min temp = 0, the errors remain :(

[2021-11-26 17:37] MarekSax opened #44 "Thermostat doesn't turn to 'heating' after closing the window."
TS0601

Thermostat goes to 'off' after the window is opened but doesn't turn back to 'heating' after closing the window.

EDIT: It does turn the heating on when I close the window before the valve closes completely but when the window is opened for a longer period it stays in 'off' setting after closing it.

my config:
[code]

[2021-11-26 23:23] RubenKelevra commented on #38
Yes, this is correct. HEAT on the TS0601 is just a 100% open valve, while auto means "adapt the valve via PID to maintain the set temperature".

Yeah, I know. That's the same in my own setup. I just had a slider and a heat ON/OFF boolean (as HA helper variables).

---

What I try to do is just use the Better Thermostat's controls and they seem to just fail somehow.

Here's what I did:

Turn all va

[2021-11-27 12:24] KartoffelToby commented on #43
@IvanUpa I'll publish 0.7.0 today with the better startup routine, but i didn't think it fixes this issues, because it looks like the not working BRT has a different firmware.

Can you check that agains that BRT's thats working?

[2021-11-27 12:30] KartoffelToby commented on #38
It seems that i found the bug, but i can't test it. Feel free to reopen it the big persists after 0.7.0

[2021-11-27 12:31] KartoffelToby commented on #44
Yes, i had a logic bug in the window function, its fixed in 0.7.0  but it looks like the TS0601 has also other problems (see issue #42 ) i haven't a TS0601 so i must relai on your informations whats not working.

[2021-11-27 12:52] IvanUpa commented on #43
@KartoffelToby

It seems to be the same firmware.
The problematic one:
Read result of 'genBasic': {"zclVersion":3, "appVersion":64, "stackVersion":0, "hwVersion":1}
Worker:
Read result of 'genBasic': {"zclVersion":3, "appVersion":64, "stackVersion":0, "hwVersion":1}

I'll check on 0.7.0 as soon as it's published.

[2021-11-27 14:12] #16 closed

[2021-11-27 14:12] #35 closed

[2021-11-27 14:12] #39 closed

[2021-11-27 14:12] #40 closed

[2021-11-27 14:12] #44 closed

[2021-11-27 15:16] IvanUpa commented on #43
@KartoffelToby

Now it is :)

Logger: homeassistant
Source: core.py:1092
First occurred: 18:15:14 (1 occurrences)
Last logged: 18:15:14
Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/config/custom_components/ai_thermostat/climate.py", line 406, in _async_sensor_changed
    return self.startUp()
  File "/config/custom_components/ai_thermostat/climate

[2021-11-27 15:35] MarekSax opened #46 "0.7.0 not responding"
TS0601

Any operation (turn on, set temperature etc.) ends with an error.

[code]

[code]

When I commented 'night_temp', 'night_start' and 'night_end' everything works fine.

[2021-11-27 21:55] KartoffelToby commented on #38
@RubenKelevra For two reasons i didn't send any calibration or target temp stuff if the TRV is set to off or a window is open.

Fist, it saves battery on the devices, Second, some TRV e.g. the Spirit are buggy and retured to heat mode if any value is updated after the mode is set to off.

But i'm confused that the TRV goes empty, it should stay on the last values.

[2021-11-27 22:58] KartoffelToby commented on #43
Should be fixed with 0.7.1

But make sure your window sensor is a real sensor, or remove the line complete from your config if you haven't a window sensor.

[2021-11-27 23:09] #46 closed

[2021-11-28 11:10] IvanUpa commented on #43
@KartoffelToby

Problem solved, no error. But now the problem is with the ones that worked originally:
climate.ai_bedroom - state=unavailable

There are no errors in the log.

Config:
  - platform: ai_thermostat
    name: ai_bedroom
    temperaturemostat: climate.tvr_bedroom
    temperature_sensor: sensor.temperature_humidity_bedroom_temperature
    outdoor_sensor: sensor.temperature_humidity_outd

[2021-11-28 12:02] KartoffelToby commented on #43
Yes to make it clear for the user, i set a active state for the TRV, so only when all entities in the config are updatet and active the TRV itself will switch to an active state otherwise it stay in unavailable

I think one of your sensors are not ready or didn't push any update to your HA. Can you check it? Sometimes it takes a while but even 5min are too long.

[2021-11-28 12:59] angustPL opened #49 "v 0.7.0 - 0.7.3 errors"
After the update, I have the impression that HA has slowed down drastically.

Log error:
2021-11-28 13:51:27 DEBUG (MainThread) [custom_components.ai_thermostat.climate] ai_thermostat: avg outdoor temp: 3
--- Logging error ---
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/logging/handlers.py", line 1432, in emit
    self.enqueue(self.prepare(record))
  File "/usr/local/lib/py

[2021-11-28 13:28] KartoffelToby commented on #49
@angustPL
How does your config look? And whats your HA version and System? Looks like a character error, i haven't any problem with the | . Think it tries to restart every time, that slowes down

[2021-11-28 13:52] jgronowski opened #50 "Tuya Climate - not working at all"
### Prerequisites

Problem with sensors not working at all.

[code]

[code]
[code]

### Description

Problem with sensors not working at all.
I started from simple config, but termostat is in unknown state, even if receiving updates.
I tried to change entity from the temperature to put as a device name only but as well with temperature addition.
In both cases it's not working.
Specifiying settings

[2021-11-28 13:54] angustPL commented on #49
HA: core-2021.11.5, supervisor-2021.10.8
Z2M: 1.22.0-3

my climate.yaml file:
- platform: ai_thermostat
  name: zuzia
  thermostat: climate.zuzia_termostat
  temperature_sensor: sensor.ble_temperature_zuzia_czujnik
  window_sensors: binary_sensor.zuzia_okno
  outdoor_sensor: sensor.balkon_czujnik_temperature
  # weather: weather.openweathermap
  off_temperature: 20
  window_off_delay: 0
  # night_

[2021-11-28 14:56] IvanUpa commented on #43
@KartoffelToby

Checked, "last_seen" of all devices is up to date. Two TRVs are using the same external sensor, only one TRV is "unavailable", and the other is working normally.

Removed TRV, paired it again - "unavailable". And it is controlled correctly by entities from z2m.

state=unavailable
  - platform: ai_thermostat
    name: ai_hall
    temperaturemostat: climate.tvr_hall
    temperature_s

[2021-11-28 16:48] KartoffelToby commented on #50
@jgronowski

You can checkout the version 0.7.3 it has a better startup debugging, enable info logs and you can see whats going on. It should work

[2021-11-28 16:50] KartoffelToby commented on #49
can you pleas checkout 0.7.3 with info logs enabled. It should not slow down your HA in any kind.

[2021-11-28 17:00] KartoffelToby commented on #43
@IvanUpa

Do you use a PI or something like that? I found a super weird bug on PI HA Instaces thats result in exaclty this problem.

You can checkout 0.7.3.

[2021-11-28 17:03] angustPL commented on #49
Traceback (most recent call last):
  File "/config/custom_components/ai_thermostat/climate.py", line 426, in _async_window_changed
    await self._async_control_heating()
  File "/config/custom_components/ai_thermostat/climate.py", line 581, in _async_control_heating
    is_cold = self.check_if_is_winter()
  File "/config/custom_components/ai_thermostat/climate.py", line 706, in check_if_is_winter

[2021-11-28 17:11] KartoffelToby commented on #49
@angustPL
There was a spell issue in the latest release, pls reinstall it with 0.7.3

[2021-11-28 17:21] angustPL commented on #49
I do not know if this is related, but the Supervisor logs appeared:
21-11-28 18:15:57 ERROR (MainThread) [supervisor.homeassistant.api] Error on call http://172.30.32.1:8123/api/config:

In Core logs:
File "/config/custom_components/ai_thermostat/climate.py", line 706, in check_if_is_winter
    self.hass, start, dt_util.as_utc(datetime.noe()), self.outdoor_sensor
AttributeError: type object 'datet

[2021-11-28 17:55] KartoffelToby commented on #49
@angustPL Just delete it and install it again, you have a false version.

[2021-11-28 18:23] angustPL commented on #49
I uninstalled and reinstalled. It looks better now.
By the way, I will ask
GS361A-H04 and TS0601 use the same method, is it on purpose so the GS361A-H04 is in HEAT mode while TS0601 is in AUTO mode?

[2021-11-28 18:41] KartoffelToby commented on #49
@angustPL i haven't a GS361A-H04

has it a heat mode? or ist heat boost and auto heat?

at the Moment there is no mode remapping on the GS361A-H04  like on the TS0601

[2021-11-28 19:03] jgronowski commented on #50
@KartoffelToby i've reinstalled version, removed old one, installed again.
Still climate.igorek which i have in the config is not working.
I even repair some of the devices, just to ensure propper name of the entities.

There is some entries in the log, but i think those are not related:

[code]

Some other errors are related to the different integrations when i`m looking here:

Supervisor - Syste

[2021-11-28 19:05] Cycor commented on #50
In my case Zigbee2mqtt lost the include_device_information setting, no idea why, it was working before, but maybe add an log message for that too, there is one but it only notifies you if self.startup = false and that isn't set if 'device' isn't found.

[2021-11-28 20:01] IvanUpa commented on #43
@KartoffelToby

Now all four state=unavailable.
What is PI? If Raspberry, then no, I have a VM with HassOS.

[2021-11-28 21:13] jgronowski commented on #50
I've checked and include_device_information from time to time from unknown reason change the state to disabled.
During restart i guess of whole home assistant OS ( my setup is Hassio OS 6.6 as a VM on Proxmox )
And after enabling and restarting only zigbee2mqtt and restarting domain ai_thermostat, different device which i choose started to appear as active, but so far climate.hardware (lets call t

[2021-11-28 21:22] jgronowski commented on #50
I think that one of the suspect is entity window_detection.
If it is set to true your integration will not work.
I have to check this tomorrow.
Because when i switched off this entity to turn off window_detection valve started to react.
I have to observe more.

[2021-11-28 21:31] KartoffelToby commented on #50
@jgronowski can you provide your config?

to be clear, the window_sensors must be a binary sensor or sensor group. if you haven't one remove this line from your config.

[2021-11-28 21:33] angustPL commented on #49
Unfortunately, I just noticed that TVR is controlling the ai_thetmostat settings.
Changing the temperature on TVR causes the set temperature to change to ai_thermostat, i.e. it behaves as before the device was added in v 0.7.0

I apologize for my English, I use Google Translator

[2021-11-28 21:33] KartoffelToby commented on #43
Can you check the info log with 0.7.3? The intigration is waiting for the entities so it might be a miss configuration.

[2021-11-28 21:38] KartoffelToby commented on #49
Sorry i didn't get the actual problem here. Have you tested it with 0.7.3? And what behavior do you expect for the GS361A-H04?
From your first log i see you use a TS0601_thermostat not a GS361A-H04 or do you use both?

the target temperature calibraion breake the abillity to set the target temp direct on the TRV, as you can read in the readme.

[2021-11-28 21:41] jgronowski commented on #50
@KartoffelToby for all my thermostats i enabled Window_Detection (integrated function from Tuya manufactory) to detect when Window is opened based on the temperature. And i had this option enabled and i think those was blocking your integration to work propperly.

So Far i run in different place and it started to work, but valve is managed by percentage not ON/OFF function.
And i think this is not

[2021-11-28 21:50] KartoffelToby commented on #50
@jgronowski OK i got it,

I didn't need this config, so i edit your last post.

Can you provide a screenshot from your z2m device config page,

I think you must set the following in z2m:

window_detection: OFF
programm_mode: Manual
preset: auto or off

if you use a Tuya TS0601 i use the temperature based calibration, that means if your TRV has a internal temperature of 24°C and the external sensor

[2021-11-28 22:06] angustPL commented on #49
I have both. I reported GS361A-H04 to be added in # 40.
I do not know if I described it clearly, I meant that when the temperature value on the head changes, it changes the set value in the ai_thermostat entity, i.e. there is an impression that the head controls the ai_thermostat entity and not the other way around

[2021-11-28 22:48] IvanUpa commented on #43
@KartoffelToby

Reinstalled the integration, refilled the config. Now the situation is similar to versions 0.7.1 and 0.7.2, i.e. state=unavailable on TRVs that worked on 0.7.0. https://github.com/KartoffelToby/ai_thermostat/issues/43#issuecomment-981065865

Looked at the logs, there is nothing but:
WARNING (SyncWorker_1) [homeassistant.loader] We found a custom integration ai_thermostat which has

[2021-11-29 08:33] jgronowski commented on #50
This is how it looks currently

![image](https://user-images.githubusercontent.com/26124736/143833713-fb054629-1557-40f3-9389-ca321f8be243.png)
![image](https://user-images.githubusercontent.com/26124736/143833771-28aaa2b3-9a16-4fb2-9eff-4173b78c62b0.png)

![image](https://user-images.githubusercontent.com/26124736/143833261-4fb53ba5-babc-438f-b844-a5758ea94081.png)

![image](https://user-images.g

[2021-11-29 10:41] RubenKelevra opened #54 "UX improvements"
Hey Toby,

currently the "virtual" thermostat shows the lowest temperature possible on an overswing protection event:

![IMG_20211129_113449.jpg](https://user-images.githubusercontent.com/614929/143852933-7c031282-819b-44c7-89c1-0a8ef70007da.jpg)

And `off` if a window / door gets opened:

![IMG_20211129_113459.jpg](https://user-images.githubusercontent.com/614929/143853006-699e8bb5-192a-4be2-b204

[2021-11-29 20:01] KartoffelToby commented on #54
The UX bug will be fixed in 0.7.4

But your improvement idea isn't possible for now, because. There are specific HVAC actions in HA (https://developers.home-assistant.io/docs/core/entity/climate/#hvac-action) We can't set a custom window is open one. Also i try to keep it 100% Google Home compatible, there are also no such actions.

What i can do is set a preset mode, but it think the TRV shoud re

[2021-11-29 20:02] MarekSax opened #57 "Thermostat didn't start after HA restart"
I had to do a VM restart in Proxmox and ai_thermostat states in logs that my TVR is unavailable. But it is available.

[code]
That's all I found in log. After the last "retry in 30s..." nothing more showed up.
<img width="1259" alt="Zrzut ekranu 2021-11-29 o 21 01 37" src="https://user-images.githubusercontent.com/58208742/143934695-72db4016-fab8-42a4-b420-6f83d9f7c445.png">

[2021-11-29 20:04] KartoffelToby commented on #49
@angustPL
Just use the latest, its current 0.7.3 will be 0.7.4

And when a TRV uses a temperature based calibration, you cant set the target temp on the TRV direct, only with the AI Thermostat virtual TRV in HA.

If you use a TRV with normal calibration, you can ajust the target temp on the real TRV and its synced with the virtual one.

If your TRV works i close this issue.

[2021-11-29 20:06] KartoffelToby commented on #50
@RubenKelevra What do you set in your Z2M for your Tuya?

We need to add this to the documentation of the readme. or do you think its related to the current issue?

[2021-11-29 20:08] KartoffelToby commented on #57
@MarekSax Do you use the Z2M Supervisor? i figured out that when you set the MQTT setting include_device_infos in the UI of Z2M its reseted after a restart. you need to add it to the Z2M config in the Supervisor config.

[2021-11-29 20:11] KartoffelToby commented on #43
@IvanUpa
you need to enable the info log i think, and try to use 0.7.3 or 0.7.4 if its out:

[code]

[2021-11-29 20:33] MarekSax commented on #57
@KartoffelToby Should I put it anywhere in the config in supervisor?
Should it look like this: include_device_information: true?

[2021-11-29 20:36] KartoffelToby commented on #57
Yes, @MarekSax i improve the readme, https://github.com/KartoffelToby/ai_thermostat/tree/dev#important-config-in-zigbee2mqtt it looks like a config bug from z2m

![Bildschirmfoto-20211129213522-1259x388](https://user-images.githubusercontent.com/8983030/143939137-f8cb7a6f-d651-472f-9178-247b09ce8b56.png)

[2021-11-29 20:40] MarekSax commented on #57
@KartoffelToby Thanks. I think it did the trick.

[2021-11-29 20:40] #57 closed

[2021-11-29 20:46] #38 closed

[2021-11-29 20:46] #49 closed

[2021-11-29 21:32] IvanUpa commented on #43
@KartoffelToby

All four TRV state=unavailable. Through the z2m entity they are controlled.
In the log:

[code]

[2021-11-29 21:39] KartoffelToby commented on #43
@IvanUpa Looks like the entity for temperature_sensor and thermostat in your configuration is incorrect it didn't found a usable entity.

Can you run it again with:

[code]

Also make sure you didn't run in the same issue as #57

And your thermostat entity is a real climate trv entity and your temperature_sensor is a target who reported a temperature as a state

[2021-11-29 22:25] RubenKelevra commented on #50
Where did you activate it? In the Add-On config file or in the GUI of Zigbee2MQTT?

The GUI isn't permanent (for system settings) yet.

Go to Supervisor -> Dashboard. Select Zigbee2MQTT. Then switch to the config tab and extend the `mqtt:` section like the following:

[code]

[2021-11-29 22:27] RubenKelevra commented on #50
Do you mean inside the settings of the Thermostat? This should have no effect as the function isn't working (usually). It reacts if there's an extremely sudden temperature drop, which isn't really the case if it's not like -15°C outside.

[2021-11-29 22:34] RubenKelevra commented on #50
This is exactly how it should look like. :)

1 Degree temperature swing is absolutely normal. If you notice the room getting hot and cold over the day you might need to adjust the position of the temperature probe.

It needs to be NOT near a doorway, ideally opposite of all windows and radiators, and well insulated from walls or furniture. You also want to avoid measuring heat sources, like a frid

[2021-11-29 22:37] RubenKelevra commented on #50
@KartoffelToby wrote:

**thermostat settings:**

- Make sure the build-in "window detection" is off
- Set minimal temperature to 1°C
- Set maximum temperature to something high, like 35°C
- Set hysteresis to 0.5°C (default is 1.0°C)
- Make sure the valve control type is set to "PID"
- there's no need to set any 'local temperature correction' - this value won't be touched, but has no effect on the

[2021-11-30 00:52] KartoffelToby commented on #50
@RubenKelevra the overswing protection is active, i'll add a log in the next Release.

and adjust the timings

[2021-11-30 07:30] jgronowski commented on #50
Thanks folks, i will review all comments and will get back to you soon with final results.

@RubenKelevra your inputs to put this value in to the config was very useful, i was not aware that the panel settings has only temporary effect.

[2021-11-30 08:21] MarekSax opened #59 "'AIThermostat' object has no attribute 'overswing'"
TS0601

My config:

[code]
After updating to 0.7.4 it stopped turning off after the window is opened. When trying to set target temperature I get:

[code]

[2021-11-30 09:43] IvanUpa commented on #43
@KartoffelToby

[code]

Changed to another sensor, now all four TVRs use different sensors for target temperature. And again all state = unavailable.

In the config a long time ago:
mqtt:
  base_topic: zigbee2mqtt
  include_device_information: true

[2021-11-30 14:16] krlmdfk commented on #57
After restarting home assistant ai_thermostat does not start, it is necessary to call the ai_thermostat.reload service each time, then it starts working but with errors.

Traceback (most recent call last):
  File "/config/custom_components/ai_thermostat/climate.py", line 488, in _async_tvr_changed
    self.async_write_ha_state()
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line

[2021-11-30 15:36] jgronowski commented on #50
Gents, i think right now everything is clear and working as it should work.
I saw that you already commit some changes to the readme.md.

Just One last question which i would like to pass here and i think it's good to mention in the documentation.

Which device i should use after relaying on your integration ?
Tuya Device Thermostat Panel, Can I delete it ?
Should I use only AI Thermostat Panel an

[2021-11-30 17:03] KartoffelToby commented on #43
@IvanUpa

is this the only log output?

Can you try to click in HA under Settings > Servercontrol > Reload YAML and than  AI_THERMOSTAT
And look at your logs again?

[2021-11-30 17:06] KartoffelToby commented on #50
You use a Tuya so it uses the temperature calibration, that mean you can't control your target temp on the TRV itself,

you should only use the virtual TRV from homeassistant from ai_thermostat.

If you use a normal calibration TRV, you can set the target temp on the TRV itself or on the HA panal or the ai_thermostat ha panel, but i would use only the ai temperature HA panael

[2021-11-30 17:10] #59 closed

[2021-11-30 19:56] IvanUpa commented on #43
@KartoffelToby

There is such a thing. Strangely, it is not there when running HA.

[code]

[2021-12-01 12:10] Cycor opened #62 "friendlyName vs friendly_name"
In the source you are using friendly_name for the mqtt identifier, but I renamed all my radiators in HA, so they don't match, causing an error in z2m

      zigbee2mqtt/Veranda Radiator 1/set/current_heating_setpoint>12.5
      zigbee2mqtt/bridge/log>{"message":{"friendly_name":"Veranda Radiator 1"},"type":"entity_not_found"}
      zigbee2mqtt/bridge/logging>{"level":"error","message":"Entity 'Ver

[2021-12-01 17:39] KartoffelToby commented on #62
Good point, will be changed in 0.7.6

[2021-12-01 17:39] KartoffelToby commented on #43
Should be fix finally in 0.7.6

[2021-12-01 19:49] MarekSax opened #64 "TS0601 - NoneType object has no attribute 'system_mode'"
TS0601

I saw this one before, but now I have "include_device_information: true" included in z2m config in supervisor.
[code]

And the second one:
[code]

[2021-12-01 20:38] KartoffelToby commented on #64
@MarekSax Can you check in your HA dev tool that your TRV have a system_mode? the TS0601 should have one

[2021-12-01 20:38] #43 closed

[2021-12-01 20:38] #62 closed

[2021-12-01 21:07] jgronowski commented on #50
Gents, i think i found another bug, dont want to repeat this in new post, but we can if you wish.
In general Software Climate is steering with Hardwate Climate which is fine working well.
But if you do the restart, values which will stay on Hardware Climate will be populated to Software Climate later.

What i mean.

On AI_Thermostat device i set desired temperature for 22
Then AI_Thermostat to ach

[2021-12-01 22:14] KartoffelToby commented on #50
@jgronowski I'll investigate and already have a guess, thank you very much

[2021-12-01 22:22] MarekSax commented on #64
@KartoffelToby Yes it has a system_mode
[code]

[2021-12-02 09:54] MarekSax opened #65 "Night Mode problems"
TS0601

My config:
[code]
I've checked debug logs from the last night and the night mode kept turning on and off.

Here are some example log entries from the night:
[code]

[2021-12-02 17:24] KartoffelToby commented on #64
@MarekSax Can you checkout v0.7.7 looks like a problem to identify your TRV on startup

[2021-12-02 17:26] KartoffelToby commented on #50
Can you checkout v0.7.7 i haven't a tuya but it should be fixed.

[2021-12-02 20:15] jgronowski commented on #50
No it's not, still its moving temperature during the restarts.
However have a feelings even from version v.0.7.6 that its hardest to achieve (AI Thermostat is not allowing you to set temperature, because trying to overwrite)

[2021-12-02 21:05] KartoffelToby commented on #50
it should not change the Temperature after restart,

but yes TRV with Temperature based calibration as the tuya cant be controlled on the TRV itself

[2021-12-02 21:06] KartoffelToby commented on #50
and i mean 0.7.7

[2021-12-03 10:13] MarekSax commented on #65
Same problem in 0.7.7

[code]

[2021-12-03 19:33] #65 closed

[2021-12-04 14:13] bruvv opened #68 "Group mode not working"
TL:DR;

Grouping thermostats isn't working.

### Prerequisites

* [X] Model name of your Devices from Zigbee2Mqtt: Tuya TS601
* [X] Output from Home Assistent Developer Tools state e.g.
[code]

### Description

I have multiple thermostats in my different rooms. Since I want to adjust 2 at the same time I use this addon: https://github.com/daenny/climate_group

I have setup groups us followed:

[co

[2021-12-04 14:18] bruvv commented on #15
could the readme eleborate more on the local_temperature calibration, do we need to do an initial local temperature calibration or do we leave it at 0?

[2021-12-04 16:46] KartoffelToby commented on #68
i didn't tried it. but i think about it.

because the different TRV have different local temperaturs its not good to group them.

but. it should be working if you create for each of your TRV a ai TRV and groupe them.

[2021-12-04 16:48] KartoffelToby commented on #15
this issue is about Temperatur based calibration, anyway, you can ignore your local calibration settings. it will respect the current calibration in the calculation

[2021-12-04 16:51] KartoffelToby commented on #68
#22

[2021-12-04 18:54] IvanUpa opened #69 "AttributeError: 'NoneType' object has no attribute 'state'"
Continued - https://github.com/KartoffelToby/ai_thermostat/issues/43
Two TVRs work, two don't.
There is an error when starting HA:

[code]

It doesn't work:
[code]

[code]

It works:
[code]

[code]

### Additional Information

1) Reset TRV
2) Pairing again with z2m
3) Reinstalled the integration

### Versions

TRV Model: BRT-100-TRV
Z2M Version: 1.22.1-1
HA Version: 2021.11.5
ai_thermostat version

[2021-12-05 10:19] m-novitsky commented on #50
There is one thing to note. When there is no "Legacy" item in the TRV settings (specific), like this:

![image](https://user-images.githubusercontent.com/46490655/144742419-f78a7caf-a559-441c-a383-4c246bdedfee.png)

 and ai_thermostat does not start, you need to enable "legacy" in the general settings Zigbee2Mqtt:

![image](https://user-images.githubusercontent.com/46490655/144742330-7bc09191-e531

[2021-12-05 11:40] bruvv commented on #68
Also to update here: as mentioned in the issue: grouping is not working.

[2021-12-05 13:34] KartoffelToby commented on #50
@jgronowski can you Check out if @m-novitsky way work for you?

we must add this to the readme.

thanks!

[2021-12-05 13:36] KartoffelToby commented on #68
okay if the other way of grouping dosn't work i must debug it. i'll build up a test Bench with two Spirits soon.

[2021-12-05 13:40] KartoffelToby commented on #69
@IvanUpa Ok, i want to fix this issue finally.

but i need your Help because i cant reproduce your issue with my Devices.

have you enabled legacy mode in z2m and every of your device?

did you notice any different Output in HA in the working and not working devices?

is any child lock or window detection enabled in Z2M?

the other configs are the Same? same Sensor etc?

[2021-12-05 14:48] IvanUpa commented on #69
@KartoffelToby

// have you enabled legacy mode in z2m and on each of your devices?
Settings->Advanced->Legacy API? Yes, it's enabled.

// Have you noticed any differences in HA output on working and non-working devices?
Looked all I could, couldn't find any differences. I do not understand why they behave like this, and before version 0.7.2. they worked.

// Is child lock or window detection enab

[2021-12-05 20:12] jgronowski commented on #50
I have both item enabled

Home Assistant legacy entity attributes
Home Assistant legacy triggers

@KartoffelToby

I think still this reload is affecting temperature.
I did right now reload domain AI_Thermostat and it happen again.

My suggestion, what do you think to fix the temperature as a schedule in to the config.
As it is set for night ?

[2021-12-06 00:11] RubenKelevra opened #70 "flickering of target temperature"
I'm seeing a lot of up/down/up/down several degrees on the target temperature set in ai thermostat - while I haven't changed it more than say 3-4 times in the last 24 hours.

So something in ai thermostat itself is causing a lot of changes and then changes back onto to real set temperature.

These are sent to the real thermostat as well, which is probably the reason one of my thermostats crashed a

[2021-12-06 00:40] RubenKelevra opened #71 "AI Thermostat turns itself back on"
I turned AI Thermostat off and around 30 minutes later it jumped back to heat and turned the radiator on.

![IMG_20211206_013817.jpg](https://user-images.githubusercontent.com/614929/144770823-e355f969-59fd-45b5-9db8-109faafec80f.jpg)

[2021-12-06 02:14] RubenKelevra commented on #71
Ah damn the screenshot is cut off.

[2021-12-06 02:16] RubenKelevra opened #72 "Real Thermostat may stay on"
I noticed that there's a chance that the real thermostat keeps being on while the AI Thermostat is turned off for no apparent reason.

![IMG_20211206_013831.jpg](https://user-images.githubusercontent.com/614929/144776638-93eb7b30-1009-46bc-b4b8-9830e6f2c1c3.jpg)

[2021-12-06 02:24] RubenKelevra opened #73 "Shows unavailable until the right modes are set after startup"
The AI Thermostat will stay on the state "unavailable" after starting the hypervisor running zigbee2mqtt, the MQTT server and HA.

Only selecting manually "auto" system mode and "manual" preset on the real thermostat will make it available.

AI Thermostat should just send the set point temperature followed by a tiny delay of something like 10 seconds and then set the system modes correctly regardl

[2021-12-06 06:53] IvanUpa commented on #69
Tried the solution from https://github.com/KartoffelToby/ai_thermostat/issues/73
The error remains, state=unavailable

[2021-12-06 14:12] Se7enair opened #74 "SPZB0001 with FW 22190930 doesn't work, how to upgrade"
### Prerequisites

* [x] Model name of your Devices from Zigbee2Mqtt
Eurotronic SPZB0001
* [x] Output from Home Assistent Developer Tools state e.g.
[code]

configuration.yaml
[code]

### Description

ai_thermostat does not change the local_temperature_calibration. But no errors.

### Steps to Reproduce

1.
Install ai_thermostat via HACS and add the new climate entity
2.
Restart and wait for ai_th

[2021-12-06 14:25] Cycor opened #75 "On startup the heater target temperature is used without checking for calibration_type == 0"
When I restart home assistant all the set temperatures are off because it takes the value from the real climate instance without checking for the calibration_type

`self._target_temp = float(self.hass.states.get(self.heater_entity_id).attributes.get('current_heating_setpoint'))`

--

in the same vein, could we get an option to disable _async_tvr_changed, I have no use for reverse syncing the valve

[2021-12-06 17:28] KartoffelToby commented on #68
@bruvv I test it with my Spirits and Moes, and it worked in that way i described you, to make it clear i have a basic config demo:

[code]

[2021-12-06 17:34] KartoffelToby commented on #75
@Cycor
I removed the PR linking, because you address 2 Issues here, the target temp checking on startup is fixed by 0.7.9

Your request make sense but it will be a problem for TRVs who does have a valve state or call it valve_position

So yes, i will implement this in 0.8.0 but only for valve reporting TRVs

Thanks (keep it open until 0.8.0)

[2021-12-06 17:35] KartoffelToby commented on #74
Looks like your z2m itself has a problem if you can't set the local_temperature_calibration.

Is it linked correctly?

[2021-12-06 17:37] KartoffelToby commented on #72
I can reproduce it when the window is closed, the real trv is back to on as it should but the UX auf AI Thermostat didn't pick it up.

[2021-12-06 17:39] KartoffelToby commented on #70
Looks like it jumps to the default target temp 5°C

Can you check it with 0.7.9?

[2021-12-06 17:40] #73 closed

[2021-12-06 17:44] KartoffelToby commented on #50
@jgronowski It didn't change the temp after startup anymore in 0.7.9

Is any other issue open thats related in this issue? Or can i close it if the changeing temp is fixed?

[2021-12-06 18:26] jgronowski commented on #50
Yes shure we can close, thank you for cooperation and supporting us

[2021-12-06 18:26] #50 closed

[2021-12-06 20:17] Se7enair commented on #74
How can I check that? I am new to z2m.
The Thermostat is working properly. I can set target_temperature etc. via mqtt, z2m or homeassistant.

I have another Thermostat which is accepting the temperature_calibration. It has another Firmware. Do you discovered any problems with different firmwares?

Not working:
Firmware Datum
20191014
Firmware Version
22190930

Working:
Firmware Datum
20190408
Firm

[2021-12-06 21:18] bruvv commented on #68
For some weird reason it was all messy with my unique_ids that I didn't bother changing since I do not use google home. Removing them like in your example fixed it for me.

[2021-12-06 21:18] #68 closed

[2021-12-07 03:59] IronButterfly opened #78 "Stopped working after last update"
### Prerequisites

* [ Eurotronic SPZB0001 ] Model name of your Devices from Zigbee2Mqtt
* [ ] Output from Home Assistent Developer Tools state e.g.
[code]

### Description

Can't set mode and adjust the temperature. In debug log I see a lot of:

2021-12-07 10:45:11 DEBUG (MainThread) [custom_components.ai_thermostat.climate] ai_thermostat entity not ready or device is currently not supported
2021

[2021-12-07 07:07] Se7enair commented on #74
I think I remember that it worked on deconz. So it is possible and maybe a bug in z2m.

[2021-12-07 08:11] RubenKelevra commented on #73
Thanks for the fast fix @KartoffelToby !

[2021-12-07 08:13] RubenKelevra commented on #71
@KartoffelToby wrote:

Hm ... I don't get what you mean.

I manually tapped on the "heat off" button on the thermostat and it turned back on after like 30 minutes on it's own. I noticed that since I heard the valve motor.

Is it still considered fixed?

[2021-12-07 08:16] RubenKelevra commented on #72
Well ... situation as the following:

Window closed, heat is set to on on the ai thermostat.

Then I click on the off button in the GUI.

AI thermostat will turn off, but the "real thermostat" will just do nothing.

---

That said if the window gets opened or the temperature is too high outside the ai thermostat should NOT show "off" as this looks like a user choice. It should say something like `

[2021-12-07 16:08] Cycor opened #79 "temper the overswing"
If the temperature is already higher than the set temperature this function goes crazy, it just keeps turning my valves on a off every 30 seconds
In my case the valve was also bugging out causing it to open and close every time but I assume that's just my valves (TS0601).

In the screenshot I enabled the function on 19:45,  the room is heated by a wood fire so way warmer than set, purple is set te

[2021-12-07 17:15] KartoffelToby commented on #79
The overswing idea is from @RubenKelevra and should prevent the overheating :D

I add a longer timeout between the overswing events in 0.8.0, hope this will fix it.

[2021-12-07 17:21] KartoffelToby commented on #71
It shoud be fixed, in 0.8.0 if it dosn't open a issue for the TS0601

[2021-12-07 17:22] KartoffelToby commented on #69
As others reported, it shoud be fixed by 0.7.9

[2021-12-07 17:22] KartoffelToby commented on #64
Shoud be fixed by 0.7.9

[2021-12-07 17:22] #64 closed

[2021-12-07 17:23] #71 closed

[2021-12-07 17:23] #72 closed

[2021-12-07 17:23] #75 closed

[2021-12-07 17:23] #78 closed

[2021-12-07 17:56] IvanUpa commented on #69
@KartoffelToby

I tried it yesterday. In 0.7.9 it breaks what worked.
Rolled back to 0.7.8 and did not report, because the change log did not indicate that the problem is fixed.

[code]

[2021-12-07 18:37] RubenKelevra commented on #79
Hey @Cycor,

we got the same hardware. The overswing function is meant to work differently, as I used other values.

I'll review the implementation from @KartoffelToby 🧐

While I have no fireplace I used binary sensors in my setup (like windows) for heat sources which turns off the heating. Maybe that's an option for you as well? 🤔

This was mainly useful on my Heat Pump Dryer which first reduces

[2021-12-07 19:20] Se7enair commented on #74
Possible that I Süd- it in deconz only with the one which is working?!

Errorlog From z2m

ˋˋˋ
Error Publish 'set' 'local_temperature_calibration' to 'esszimmer_heizung_links' failed: 'Error: Write 0x00158d00032f606e/1 hvacThermostat({"localTemperatureCalibration":30}, {"timeout":10000,"disableResponse":false,"disableRecovery":false,"disableDefaultResponse":true,"direction":0,"srcEndpoint":null,"r

[2021-12-07 19:26] KartoffelToby commented on #74
Looks like its not paired correctly, is it possible that the trv ist still connected to your deconz instance?

its only possible to pair it to deconz or z2m

[2021-12-07 19:30] Se7enair commented on #74
Deconz is disabled, deleted and the conbee is working for z2m.
But I have read that reconnecting may help. Wanted to try this anyway. I'll left you know as son as I've tried it.

[2021-12-07 21:13] Cycor commented on #79
For me the only functionality it would need is to turn off the trv entirely if the room temperature is like 1 degree over the set temperature, it takes forever to close the valve when it reaches its setpoint and turning it off closes it immediately.

I read that it doesn't send temperature measurements when turned off, which can be a downside, but maybe it's better for the battery.

The fake door

[2021-12-07 21:31] Se7enair commented on #74
Tried 5x, it still shows the same error.
Try a firmware update.

[2021-12-07 21:40] KartoffelToby commented on #74
Can you control the target temp in Z2M for the TRV? Its really strange, if you can't control anything with Z2M directly this is an issue thats related to Z2M not my Intigration

[2021-12-07 21:41] KartoffelToby commented on #70
I think its related to the overswing thing #79

[2021-12-07 21:42] KartoffelToby commented on #69
@IvanUpa You wrote it breaks whats worked, are you mean it was working on 0.7.8?

[2021-12-07 21:50] RubenKelevra commented on #70
Yeah, I think it is a duplicate :)

I'll take a look asap at the overswing protection implementation, since it's rather complex :)

[2021-12-07 21:53] RubenKelevra commented on #79
@Cycor I've seen the same issue with my thermostats at #70.

This function needs a review.

My original implementation can be found [here](https://github.com/RubenKelevra/Tuya-thermostatic-valve) which is fully written in home automation yaml for home assistant and rather poorly to maintain/use. It's there called "heat rise too quickly" and there are additional measures for some situations in the

[2021-12-07 21:56] KartoffelToby commented on #79
i'll wait for @RubenKelevra to check the [code](https://github.com/KartoffelToby/ai_thermostat/blob/527675fe90b6459d2be5eaed4304246a86103a3f/custom_components/ai_thermostat/models/utils.py#L25)

But i think i know the problem, possible misunderstand Ruben here, and the overswing stuff should only happens if the temp is exactly 0.5°C over the target temp

And i really starting to wonder what the TS

[2021-12-07 22:00] RubenKelevra commented on #79
nope, below, but it should be only triggered when the valve is opened more than 30%.

[2021-12-07 22:02] KartoffelToby commented on #79
OK than the 5min timeout was to short too

[2021-12-07 22:03] Cycor commented on #79
my implementation is a bit special that i turn on the boiler when the valves are open more than 20% and to reduce the overheating I turn it off when it reaches 0.5C over so it can't really learn anything meaningful in my case

[2021-12-07 22:06] KartoffelToby commented on #79
I think we should focus here for a solution for the TS0601, and i'll remove the overswing from the general target temp based calibration, than we have more room to use stuff like the valve pos etc.

If a other device model have problems with the algorithmic too i can adapt it

[2021-12-07 22:07] #70 closed

[2021-12-07 22:23] RubenKelevra commented on #79
@KartoffelToby well no. It's a systematic issue with the PID algorithm. There's no way other thermostats don't have this issue. Let's fix it first and take a look at the user responses. If it works as intended it should not be noticeable at all by the users.

@Cycor well, sure it does. It needs to learn how long the room takes to cool down and how the temperature is floating in the room. You usual

[2021-12-07 22:29] Cycor commented on #79
yeah I know pid, It was more that with my configuration it will think that it has a really big room that is hard to heat if it goes over 0.5 and I turn of the boiler and a very small room that heats up quickly if i don't turn on the boiler until 20% and it shoots up, so i would assume the curve will be off anyways,  but i'll remove the "fix" that turns of the boiler when it goes overtemperature bu

[2021-12-07 22:31] Se7enair commented on #74
I can control the target temp in z2m.
I also think it is related to z2m, but I hope you have experience with it and can help me.

Firmwareupdate with deconz stucks. z2m claims that there is no image available.

[2021-12-08 00:00] KartoffelToby commented on #74
i have 3 Spirits i remember that i Update the Firmware over deconz last year Checkout this https://github.com/EUROTRONIC-Technology/Spirit-ZigBee

[2021-12-08 06:06] Se7enair commented on #74
I tried it, but it stays on Idle and never starts.
I think there is a version which cannot be updated.
ordered three brand new thermostats which are arriving tomorrow. Curious about the if they will work.

[2021-12-08 09:29] IvanUpa commented on #69
@KartoffelToby

Yes. I attached the configs climate.tvr_bedroom and climate.trv_children. I specifically test only on these entities.
trv_children - in 0.7.8 works, but in 0.7.9 and 0.8.0 - does not work (state=unavailable), errors above. If after HA start make ai_thermostat restart, the error disappears and TRV works, but this is not normal behavior.
tvr_bedroom - doesn't work (state=unavailable)

[2021-12-08 11:48] KartoffelToby commented on #74
It must be possible to make it work, you said setting offsets was possible in deconz, so it must be possible in z2m too, they make changes in the last release on the calibration values, so try a older version, or open a issue based on this problem in z2m

[2021-12-08 12:33] Cycor commented on #69
The line 325 error I solved a while back in my local build, I made it
if trv_state and trv_state.state in (
instead of
if trv_state or trv_state.state in (

The error on 312 is up to @KartoffelToby to decide, I can't really see why the current_heating_setpoint is send to the same device at startup, but it should at least have a check if the device has that value available.

[2021-12-08 16:33] Se7enair commented on #74
I tried it again with deconz with a thermostat which is also not working in z2m. This devices also doesnt work in deconz. So it is more related to the device itself.

I wrote a mail to the supplier, they already responded to me. They will change the affected devices to some which have a newer firmware.
There are many reports on github with a faulty firmware. But I was unsure, because everything wo

[2021-12-08 19:56] KartoffelToby commented on #69
@Cycor i used "or" in this section to check if its not ready, anyway it was a thinking mistake i also believe it has to do with the no window sensor checking.

@IvanUpa

Can you checkout the current master?

![Screenshot 2021-12-08 201536](https://user-images.githubusercontent.com/8983030/145275260-df0c0b96-2558-4c5b-a04b-932ee8aa6fd9.png)

[2021-12-08 21:08] KartoffelToby commented on #74
Just for the protocol:

I have two working with:

Firmware Datum
20190408
Firmware Version
18181120

Also one with
Firmware Datum
20191014
Firmware Version
22190930

its also working, so its really boring looks like the same FW as yours, but isn't.

As in this post discribed https://github.com/EUROTRONIC-Technology/Spirit-ZigBee/releases/tag/20190408 there was two FW with the same datecode.

If it

[2021-12-08 21:59] IvanUpa commented on #69
@KartoffelToby

Everything is the same as it was on 0.7.8:
trv_children - works
trv_hall - does not work
Error:
[code]

[2021-12-08 22:36] alexw1982 opened #84 "night_temp not working"
running the 0.8.0 version using 8x 802 saswell and 1x ts0601 TRVs I am unable to get the night_temp setting working. The temperatures do not change at specified times (or at a later time). I do not have an errors in the home assistant log. I have not yet put it in debugging mode though. Is the potentially a configuration issue on my side? Here, as an example the setting for the bedroom (all trv ar

[2021-12-08 22:40] alexw1982 opened #85 "limit local temperature calibration to -/+ 6.0 celsius"
I had some funny errors today when the temperatur delta between the saswell 802 and the actual temperature was 7.2 degrees celsius. Home assistant then throws an error because accepted values only range from -6.0 to +6.0. I do not know about other models but I would propose that in such (hopefully rare cases) the offset is set to the accepted maximum until the trv temperature gets closer to realit

[2021-12-09 09:28] KartoffelToby commented on #69
@IvanUpa as i said, pls checkout the master: its 0.8.1 beta

[2021-12-09 09:42] KartoffelToby commented on #85
Is this error from HA oder Z2M? They did change it in the last release and i'm not happy with it, the min max, looks like random (because the TRV can handle a wider range) also the auto rounding and accepting float or int is not clear, since 0.7.6 ai_thermostat sends only int values to avoid the float problem, but i didn't know that the min max values of 6 are hardcoded.

To be honest , i haven't

[2021-12-09 09:59] IvanUpa commented on #69
@KartoffelToby

I understand and did as in the screenshot, but yesterday there was 0.7.8.
Now on 0.8.1 trv_children - works.
And for trv_hall:
[code]

[2021-12-09 17:38] KartoffelToby commented on #85
https://github.com/Koenkk/zigbee-herdsman-converters/issues/3488

[2021-12-09 22:32] alexw1982 commented on #85
🙏 - Closing as the issue is flagged with zero

[2021-12-10 21:54] KartoffelToby commented on #69
@IvanUpa OK looks like a found the right point, can you reinstall the master, and try it again? Didn't want to push a new version if its not fixed.

[2021-12-10 22:06] IvanUpa commented on #69
@KartoffelToby

trv_children - it works.
trv_hall:
[code]

[2021-12-11 16:30] iksrd opened #90 "Saswell SEA801-Zigbee/SEA802-Zigbee does not work It is always in the off state"
Saswell SEA801-Zigbee/SEA802-Zigbee does not work
It is always in the off state

Zigbee TS0601 Module

Manufacturer Zigbee _TZE200_c88teujp

climate:
  - platform: ai_thermostat
    name: koridor
    thermostat: climate.0xcc86ecfffe44c68c
    temperature_sensor: sensor.a4c13878e96f_temperature

[2021-12-11 22:34] KartoffelToby commented on #90
can you pls enable the debug log and share it?

[2021-12-11 23:46] #69 closed

[2021-12-11 23:46] #84 closed

[2021-12-11 23:47] KartoffelToby commented on #54
Need to do some Translation stuff, i don't know how in the moment, so will be in the next release, i disabled it again.

[2021-12-12 03:02] RubenKelevra commented on #79
Hey @Cycor

yeah, I know the issue. That is basically my fix for it, as the valve gets force closed for a while when too much heat is applied to the radiators, the TRV should not be able to do this at all.

There are also some bugs in the TS0601 which let it just "stick" on one valve position until a new command comes in. That's why I had some "if the valve is open above x for x minutes" wake-up c

[2021-12-12 08:06] IvanUpa commented on #69
@KartoffelToby

It doesn't work :)

[code]

[2021-12-12 09:43] Se7enair commented on #74
I bought 3 new ones so that I can equip all the radiators. All of them contains Firmware 22190930. But the new version, because everything is running fine.
To replace the old ones I need a invoice or something, but i bought a few of them used. Will try to exchange the new via manufacturer. The used ones I will try to flash myself.

But now, I have four thermostats with working firmware. And they a

[2021-12-12 10:47] KartoffelToby commented on #74
thats nice, thank you, yes let it Open. i'll pin it and the calibration curve shoud be better in the Future, as you can read from the current releases, the current Z2M Version only allow full int calibration, thats off by 0.9 -0.9 °C

i allready have a PR open, and test it in my local System. works fine with the Spirit.

hope it will be in the next Version of Z2M

[2021-12-12 13:42] Cycor commented on #69
@IvanUpa Can you post the configuration for trv_hall and ai_hall?

[2021-12-12 14:26] iksrd commented on #90
ell me how to get this  debug log  to send you

[2021-12-12 14:47] IvanUpa commented on #69
@Cycor
@KartoffelToby

The configurations are the same as above, just this time I copied the log from trv_hall, not from trv_bedroom.

But the problem is solved. I was almost sure that the problem was these two TRVs and tried all sorts of things, even replaced the Zigbee stack with another one with different firmware. But then I did the following:
1) Reset TRV
2) Removed TRV from z2m
3) Added TRV

[2021-12-12 14:55] IvanUpa commented on #69
@KartoffelToby

Remove stale label on the issue.

[2021-12-12 16:42] blazewicz commented on #90
Its issue with Z2M, see Koenkk/zigbee-herdsman-converters#3494

[2021-12-13 09:24] KartoffelToby commented on #90
[code]

[2021-12-13 09:33] alexw1982 opened #94 "Can’t read device model at startup on 0.8.1"
The new 0.8.1 version throws errors again reg. Device model issues. All the settings are according to the readme and everything worked fine with 0.8.0 (except for night mode)…

[code]

[2021-12-13 13:09] Padm59 opened #95 "AI Thermostat is not changing the local_temperature_calibration"
### Prerequisites

* [ ] Model name of your Devices from Zigbee2Mqtt
Eurotronic SPZB0001 Version:
Firmware Datum
20191014
Firmware Version
22190930
* [ ] Output from Home Assistent Developer Tools state e.g.
[code]

### Description

**AI T. is never changing the local_temperature_calibration, even though I can change it manually with MQTT or through the z2m interface. It takes a few seconds to cha

[2021-12-13 13:11] Padm59 commented on #94
Same and #95

[2021-12-13 18:31] Se7enair commented on #74
It is working and totally easy!

All the benefits go to @solvisit he discovered it!

Heres a little tutorial to open the thermostat.

Preparations:
Download firmware
https://www.file-upload.net/download-14779082/firmware-20191014-22190930-new.bin.html

Download FlashTool
https://www.nxp.com/downloads/en/software-development-kits/JN-SW-4107.zip

Buy FTDI-Adapter
https://www.amazon.de/AZDelivery-Ada

[2021-12-13 20:26] blazewicz commented on #90
You may try updating z2m to latest dev, it should be fixed with Koenkk/zigbee-herdsman#474.

[2021-12-13 21:54] KartoffelToby commented on #95
Yes, they just changed the mqtt Service in HA 2021.12 so 0.8.1 is only working with 2021.11

wait for 0.8.2

i'll push a hotfix soon

[2021-12-13 21:56] KartoffelToby commented on #74
wow, your my men! Thanks for your super instructions, i'm sure this will help someone.

thanks for your Work!

[2021-12-13 21:58] KartoffelToby commented on #90
not the real issue here, but be sure you run 0.8.1 with HA 2021.11

for HA 2021.12 you need 0.8.2

[2021-12-13 22:39] #95 closed

[2021-12-13 22:41] KartoffelToby commented on #94
Update to HA 2021.12, Z2M latest, and 0.8.2 to be sure you on the latest code

[2021-12-13 23:43] alexw1982 commented on #94
I was already running HA 2021.12 and Z2M latest (stable not dev). I just updated to 0.8.2 and did a restart but the errors remain

[code]

[2021-12-14 03:28] IronButterfly opened #96 "Night mode doesn't work"
### Prerequisites

* [ ] SPZB0001
* [ ] Output from Home Assistent Developer Tools state e.g.
[code]

### Description

Night mode doesn't work. Here is the settings:

[code]

In debug log I see that Night mode was not enabled after 23:30:

[code]

And not after 06:00:

[code]

### Steps to Reproduce

Just set up night mode as in the documentation and see logs.

**Expected behavior:**

TRV should b

[2021-12-14 09:34] Padm59 commented on #94
Also the Error is not gone. I don’t know why this does not work https://github.com/KartoffelToby/ai_thermostat/blob/3e5c0a3b3e85981fe8f5abcf61135813bcc6e334/custom_components/ai_thermostat/manifest.json#L14

Maybe it takes some time before the climate entity changes state to the retained Mqtt data from z2m?

[2021-12-14 20:57] bruvv opened #97 "TRV turning on without any changes done"
### Prerequisites

* [X] Model name of your Devices from Zigbee2Mqtt: Tuya TS601
* [X] Output from Home Assistent Developer Tools state e.g.

[code]

### Description
Out of the blue on of my thermostats is opening the valve without changing anything or giving any command as can be seen here:
<img width="378" alt="afbeelding" src="https://user-images.githubusercontent.com/3063928/146077322-df7e169b

[2021-12-15 18:25] MarekSax opened #98 "Error parsing value: access to attribute 'update' of 'dict' object is unsafe."
TS0601
Home Assistant 2021.12.1
Z2M 1.22.1-1
AI Thermostat  0.8.2

Z2M config:
[code]

climate.yaml
[code]
Two errors occur in the logs:
[code]
[code]

[2021-12-15 20:45] KartoffelToby commented on #98
Your error is from homeassistant.helpers.template didn't know whats going on there, looks like a startup issue, try 0.8.3 update HA and Z2M to the latest stable version.

[2021-12-15 20:47] KartoffelToby commented on #97
Thats strange, can be a issue with the overswing protection, can you check the debug logs?

[code]

[2021-12-15 20:51] KartoffelToby commented on #94
Its possible you get some strange erros on dev, anyway the main problem here is the startup process, looks wired to me, have lots of trouble with it, the after_dependencies thing shoud take care of the startup, but looks like the core has problems too, my LIFX automation must be manuelly reloaded to get the intigration right, so looks like the same with mqtt and ai_thermostat.

I changed thinks in

[2021-12-15 20:52] KartoffelToby commented on #90
Any news here? My SEA801-Zigbee/SEA802-Zigbee just work fine, cant rebuild your issue, BTW 0.8.3 is out

[2021-12-15 20:56] KartoffelToby commented on #54
@RubenKelevra i take a huge research, seems its not possible to extend the presets with custom one and translate them (is possible to add new but no translation) so this opportunity does not longer exist, in 0.8.3 i expose the status via extra attr. you can pick
them up, i plan to create a modded HACS Frontend Thermostat which will display them.

[2021-12-15 21:08] RubenKelevra commented on #54
Hey thanks for digging this deep.

Hope I'll have some time that weekend to go through your code (for the other ticket).

I actually really hate the current "thermostat" frontend by home assistant. It's bulky and most of the space isn't showing anything useful. I mean simulating a dial with a small ball on a curve which you have to select with a touch interface and then drag left or right, while y

[2021-12-15 21:18] KartoffelToby commented on #96
checkout 0.8.3

[2021-12-15 21:18] #96 closed

[2021-12-15 22:02] alexw1982 commented on #94
Errors are gone for me with 0.8.3 and night mode also seems to be working probably for the first time - thanks a lot 🎉👍

[2021-12-15 22:02] #94 closed

[2021-12-16 08:14] MarekSax opened #100 "Night mode doesn't turn off"
TS0601
Home Assistant 2021.12.1
Z2M 1.22.1-1
AI Thermostat 0.8.3

[code]

Night mode turns on at 1:00 but it doesn't turn off at 5:00:

[code]

[2021-12-16 10:26] bruvv commented on #97
I enabled debugging, will wait until it happens again.

[2021-12-16 21:08] KartoffelToby commented on #100
Changed event base in 0.8.4

[2021-12-16 21:08] #100 closed

[2021-12-17 09:35] bruvv commented on #97
And here are the debug logs:
[code]

[2021-12-17 17:18] KartoffelToby commented on #54
checkout: https://github.com/KartoffelToby/better-thermostat-ui-card

[2021-12-17 17:18] #54 closed

[2021-12-17 17:20] KartoffelToby commented on #97
Yes, it has to do with the overswing protection, in 0.8.5 its disabled.

Waiting for @Cycor or @RubenKelevra to write a fix

[2021-12-17 20:58] bruvv commented on #97
I do not think this has anything todo with the overswing protection. It happened again. But again nothing that is in the log:
[code]
This is what is seen on the climate normally entry:
<img width="360" alt="afbeelding" src="https://user-images.githubusercontent.com/3063928/146607207-c1c7516c-aa91-4756-84e0-3423ad4c175c.png">

[2021-12-17 21:06] KartoffelToby commented on #97
@RubenKelevra You have the same device, have you this issue too?

[2021-12-17 21:09] RubenKelevra commented on #97
Well yeah, I've installed AI Thermostat again today and there seems to be no functionality.

It's neither turning off when a door/window gets opened nor does it affect the original thermostat in HA.

I thought there's something off in my setup, as I readded all zigbee devices cause I've changed the channel.

But I can't find the issue.

[2021-12-17 21:10] bruvv commented on #97
goddaammm.... I found the culprit. An very old automation that has the following in it:
[code]
For some reason this was never an issue with the normal thermostats. But now with the AI thermostat added, the 'all' entry really is not very safe to use. I changed it all to a group and now it works much better.

So when someone is searching for this issue: please make sure you are not using the 'all' a

[2021-12-17 21:35] KartoffelToby commented on #97
OK, close this one

[2021-12-17 21:35] #97 closed

[2021-12-18 16:59] RubenKelevra commented on #97
Found my issue. :)

[2021-12-18 17:01] RubenKelevra opened #103 "Ignore non-existing outdoor temperature sensor"
I've setup my zigbee devices again and my outdoor sensor is currently not added yet. So there's a configured temperature sensor but it isn't existing for HA.

I think this "issue" should just be ignored and logged instead of breaking the heating functionality - like it currently does.

I commented out the two lines (off-temperature and outdoor temperature sensor) and everything works as normal.

[2021-12-18 19:45] IvanUpa commented on #98
https://github.com/Koenkk/zigbee2mqtt/issues/9939

[2021-12-18 21:16] RubenKelevra opened #104 "Can't turn heat off"
With my TS0601 I got a this issue sometimes where AI Thermostat fails to turn the heat off and just "pops" back on.

I confirmed the settings in Zigbee2MQTT:

[code]

I'm using Zigbee2MQTT 1.22.1-1 and AI Thermostat 0.8.5 on Home Assistant 2021.12.3.

Here's an example how this looks like:

https://photos.app.goo.gl/g1d89q3ZMDtgmQ3v6

[2021-12-18 23:45] KartoffelToby commented on #103
OK, i made some test, sadly its allready very difficult to check the state on startup, so i cant get a clear info if a entity didn't exist, to prevent bad UX for users i will not change the startup process. so this is the right behavior. The user must know if a sensor exists in HA or not

[2021-12-18 23:45] #103 closed

[2021-12-18 23:46] KartoffelToby commented on #104
Can confirm this bug on one of my devices

[2021-12-18 23:47] KartoffelToby commented on #54
@RubenKelevra its available in HACS Frontend now, search for better thermostat ui

[2021-12-19 00:24] KartoffelToby commented on #104
![Screenshot 2021-12-08 201536](https://user-images.githubusercontent.com/8983030/146659130-8fde4e4e-c989-47e1-ac48-8c3e92bd440a.png)
@RubenKelevra
Tryout the master, its fixed for me now, would be good if your test it on the temperature based devices as well before i publish a new version.

[2021-12-20 09:06] jsiemek opened #105 "Feature Request: option to use sensor to set target temperature"
Hi,

your work looks really promising, but there is one thing I'd like to ask you.

As for now I'm using [programmable_thermostat](https://github.com/custom-components/climate.programmable_thermostat)
and  I build framework which  gives me option to define 6 different timeframes and temperatures for weekdays and weekends.
It works that way, the sensor is defined which calculate current desired tem

[2021-12-20 13:12] jsiemek commented on #105
I will do!

Jarek

W dniu pon., 20.12.2021 o 14:11 Marcin Wadoń ***@***.***>
napisał(a):

[2021-12-20 13:22] jsiemek commented on #105
Yes, more less.
I have such sensors:
[code]
I'll build automation around it easly.

[2021-12-20 13:22] #105 closed

[2021-12-20 13:49] RubenKelevra opened #108 "fix about text of repo"
The about text of the repo has several misspellings.

Here's a fixed one:

[code]

[2021-12-20 14:05] KartoffelToby commented on #108
Thanks, its updated

[2021-12-20 14:05] #108 closed

[2021-12-20 14:08] RubenKelevra opened #110 "(re)implement the heat dampening functionality"
_This ticket supersedes #79._

Previously called overswing protection. I feel like heat dampening might be a better name for this. LMK if that's the case or if you don't agree.

---

I wrote [an automation](https://github.com/RubenKelevra/Tuya-thermostatic-valve) that implemented some overswing protections, so the temperature in the room cannot get (much) higher than the programmed temperature for

[2021-12-20 14:12] KartoffelToby commented on #110
@RubenKelevra Name is ok for me, the old issue is replaced by this one? Any infos needed from the old issue?

[2021-12-20 14:12] KartoffelToby commented on #79
Will be handled by #110

[2021-12-20 14:13] RubenKelevra commented on #110
Nah I know what I'm looking for and just looking into your code now. If there's any info needed @Cycor can just comment here :)

[2021-12-20 14:14] KartoffelToby commented on #110
@RubenKelevra Thanks ruben, if you need any help let me know, i'm also on Discord in the HA and HACS Server

[2021-12-20 18:00] RubenKelevra commented on #104
Would be nice if you could release a prerelease with just the fix in such a case. A fixed tag makes it easier to confirm that a particular change do work. The master might have other changes which break stuff :)

[2021-12-20 21:12] KartoffelToby commented on #104
We have the dev branch for untested break stuff, master should not break anything, so this must be in mind when create a PR, merge to dev and only to master if its working

[2021-12-20 21:26] KartoffelToby commented on #104
published in 0.8.6

[2021-12-20 23:12] RubenKelevra commented on #104
Well, I've tested #1eb5de5 and it isn't fixed.

[2021-12-21 00:30] KartoffelToby commented on #104
This commit is the right one: https://github.com/KartoffelToby/ai_thermostat/commit/8252d107e851f8478832d9cca9e6acca52861aa1

[2021-12-21 00:33] #98 closed

[2021-12-21 02:44] RubenKelevra commented on #104
Yeah, but the commit I downloaded is past your fix ;)

[2021-12-21 09:28] alexw1982 commented on #104
same issue here on saswell 802 TRVs. It is constantly heating beyond the set point and never turning off (remains in system_mode: heat in Z2M). Setting them to system_mode: auto turns them off ... i am using 0.8.6

[2021-12-21 09:37] alexw1982 opened #118 "[Feature Request] Toggle/switch for night mode"
I think it would be nice to be able to have night mode configured in yaml but still have the option to disable it (temporarily) via a switch in HA. Typical examples: guest are visiting that might not agree with your 16°C at night setting ;-)

[2021-12-21 13:19] aso824 opened #119 "Error doing job: Task exception was never retrieved"
I'm using only external temperature sensor with TS0601 TRV and getting this error:

[code]

Not sure if thermostat is controlled correctly right now.

Newest HA, HACS and AI Thermostat (0.8.6)

[2021-12-22 11:09] iksrd commented on #90
I'm sorry what's taking so long

[2021-12-22 11:09] iksrd commented on #90
2021-12-22 14:03:09 INFO (MainThread) [custom_components.ai_thermostat.climate] Starting ai_thermostat for kabinet_zapad_zapad with version: 0.8.1 waiting for entity to be ready...
2021-12-22 14:03:09 INFO (MainThread) [custom_components.ai_thermostat.climate] Starting ai_thermostat for kabinet_zapad_sever with version: 0.8.1 waiting for entity to be ready...
2021-12-22 14:03:14 WARNING (MainThrea

[2021-12-22 14:29] KartoffelToby commented on #90
you need the latest Version

[2021-12-23 00:51] KartoffelToby commented on #119
hope @RubenKelevra can Help

[2021-12-23 07:15] Arquiteto opened #121 "AI Thermostat waiting indefinetely for TRVs entities to be available"
### Prerequisites

* [ ] Model name of your Devices from Zigbee2Mqtt
_TS0601_thermostat_
* [ ] Output from Home Assistant Developer Tools state.
[code]

### Description

After starting Home Assistant AI Thermostat fails to initialize - its entities are in unavailable state. After enabling debug log I can see this as output. All of the thermostat entities are available and controllable. Interacting

[2021-12-23 10:08] RubenKelevra commented on #119
Yeah sure, catching this is easy. But I mean it doesn't really make sense to me why its happening. 🤔

[2021-12-23 10:11] aso824 commented on #119
Feel free to @ if you need to have additional info for debugging.

[2021-12-23 11:19] RubenKelevra commented on #119
@KartoffelToby not sure how but somehow we manage to send this number as string down this call, since int, float, or double are not caught there.

We could just catch this in our code to avoid that HA has to deal with this exception.

The variable in question is the target temperature (or setpoint) and the code which fails on the variable is `isinstance(var, Number)`.

Hope that helps!

[2021-12-23 11:48] KartoffelToby commented on #119
Okay, i hoped its not such a bug. more related to the TS0601

i'll check it and force a convert

[2021-12-23 12:27] Cycor commented on #121
I don't see the device info in your home assistant attributes, did you enable include_device_information in zigbee2mqtt?
[Important config in Zigbee2Mqtt](https://github.com/KartoffelToby/ai_thermostat#important-config-in-zigbee2mqtt)

[2021-12-23 12:37] RubenKelevra commented on #119
Well, my logs don't show any similar message, so it's not related to the hardware (I guess).

@aso824 which locale do you use? If Polish, do you guys over there use the decimal point or a comma?

[2021-12-23 12:48] Cycor commented on #110
Just adding this here, because at this point i'm quite sure about it:

The TS0601 valves react to the set temperature change regardless of the current temperature by opening the valves based on the change.
If I change the temperature for 5C to 15C it wil open the valves to 100% for a while even if the temperature is already high enough, so that would explain why the current dampening code causes t

[2021-12-23 13:12] Arquiteto commented on #121
Thanks, that fixed it. Silly me.

I was messing around with my configuration lately, including Z2M, I tought
I transfered my config every time, but probably lost that setting somewhere
along the way.

czw., 23 gru 2021, 13:27 użytkownik Cycor ***@***.***>
napisał:

[2021-12-23 13:13] #121 closed

[2021-12-23 14:41] #119 closed

[2021-12-23 19:47] KartoffelToby commented on #104
@RubenKelevra didn't know excaly why, but it worked for me after the rewrite, if you want you can checkout #120

[2021-12-24 04:35] RubenKelevra opened #123 "Write a better temperature / weather algorithm"
Currently we use the average of measurements of the last 48 hours for the temperature and just the maximum weather forecast temperature for today or tomorrow (whatever is bigger).

This might lead to unexpected behaviour, not following the POLA.

I see the following issues:

- The length of a measurement's validity isn't taken into account. Each measurement is expected to be equally length - which

[2021-12-24 04:37] RubenKelevra commented on #123
@KartoffelToby do you see any other issues or improvements which would be possible?

[2021-12-24 09:29] iksrd opened #124 "Does not work with scheduler-component integration"
AI THERMOSTAT for Zigbee2MQTT Does not work with scheduler-component integration (https://github.com/nielsfaber/scheduler-component). The temperature does not change

[2021-12-24 11:52] RubenKelevra commented on #124
Hey, we're currently in the process of rewriting most of the codebase to make it more easily maintainable and also change from raw MQTT commands to more compatible HA calls.

Should be done in a couple of days.

After that, it might just work for you - if not we'll have a look at it.

[2021-12-24 13:28] KartoffelToby commented on #74
@Se7enair What do you think about create a wiki page of your work here?

[2021-12-24 13:34] KartoffelToby commented on #123
I think thats good, maybe optionally that feels like temperature option, if its set to true all sensors will use a feels like temperature calculation

[2021-12-24 13:36] KartoffelToby commented on #90
Will close this for know, pls use the latest version, if the problem isn't solved, feel free to open a new one

[2021-12-24 13:36] #90 closed

[2021-12-25 12:55] Se7enair commented on #74
Sounds good. I am propably not the only one with this problem.
But I think I will need a little bit support with the wiki itself. Or how do you plan to create the wiki?

[2021-12-25 16:51] aso824 commented on #119
Thanks!

[2021-12-26 17:38] #104 closed

[2021-12-26 18:06] KartoffelToby commented on #124
@iksrd checkout 0.9.0 i didn't know that component, but if it uses default HA services it should work

[2021-12-26 18:07] KartoffelToby commented on #110
Didn't know the status here, but the function is re enabled in 0.9.0

[2021-12-26 20:05] aso824 opened #133 "From 0.8.7 some fields are now required"
Values now required but wasn't and mentioned in config as optional:

- night_temp
- night_start
- night_end
- off_temperature

[code]

[2021-12-26 21:09] KuChar91 opened #134 "Task exception was never retrieved"
AI Thermostat for Zigbee2MQTT 0.9.0

configuration.yaml

[code]

[code]

[2021-12-26 21:11] KuChar91 commented on #133
There's an update.

[2021-12-26 21:36] aso824 commented on #133
Didn't noticed it, thanks!

[2021-12-26 21:36] #133 closed

[2021-12-26 22:09] danielszilagyi commented on #134
Similar symptoms here, though I thought its due to the weather entity. Let me know if any additional information is required.

`2021-12-26 23:06:32 INFO (MainThread) [custom_components.ai_thermostat.climate] Register ai_thermostat with name: Haloszoba
2021-12-26 23:06:32 DEBUG (MainThread) [custom_components.ai_thermostat.climate] ai_thermostat triggered states > window open: False night mode: Fal

[2021-12-27 08:29] RubenKelevra commented on #110
Well, I'm still working on some smaller fixes of issues I saw while reviewing. After that I'll rewrite the code of the dampening code to exactly mirror the behaviour I had implemented before.

[2021-12-27 08:31] RubenKelevra commented on #110
Thanks for your observation. It might make sense for the thermostat to do this in the first say 5 Minuten to get the heat going faster.

I never used a temperature point change in my scripts, I just had shut it off and on again.

I'll reimplement that.

[2021-12-27 09:11] iksrd opened #135 "Saswell SEA801-Zigbee/SEA802-Zigbee overheats the room"
Installed the latest version. The temperature is set to 21.5. Saswell SEA801-Zigbee/SEA802-Zigbee overheat the room and turn off late. The room has time to heat up to 23.5. Is this normal?

platform: ai_thermostat
name: kabinet_zapad_zapad
thermostat: climate.0x804b50fffe52d26c
temperature_sensor: sensor.a4c138c4c433_temperature
valve_maintenance: false
night_temp: 20
night_start: '22:00'
night_en

[2021-12-27 09:14] iksrd opened #136 "TS0601_thermostat does not turn off after closing the window"
TS0601_thermostat does not turn off after closing the window. When I open the window, the thermostat turns off, and when I close the window, it continues to remain in the off state. Is there some kind of delay before switching on or is it an error?

 - platform: ai_thermostat
   name: kabinet_vostok_vostok
   thermostat: climate.0x804b50fffe1a85ec
   temperature_sensor: sensor.582d3439be52_tempera

[2021-12-27 09:15] iksrd commented on #135
- platform: ai_thermostat
   name: kabinet_zapad_zapad
   thermostat: climate.0x804b50fffe52d26c
   temperature_sensor: sensor.a4c138c4c433_temperature
   valve_maintenance: false
   night_temp: 20
   night_start: '22:00'
   night_end: '04:00'
   off_temperature: 21.5

  - platform: ai_thermostat
   name: kabinet_zapad_sever
   thermostat: climate.0xcc86ecfffe44c6ea
   temperature_sensor: sensor.a

[2021-12-27 12:13] denysdovhan commented on #41
Would be great to have the ability to override the model from the configuration. Modified files in the `devices` folder will be overwritten by an update of the `ai_thermostat`.

[2021-12-27 12:22] danielszilagyi commented on #134
I managed to fix this with some help from a friend, though I'm not sure it was done the most elegant way. dampening is now active though and the errors went away.

`--- custom_components/ai_thermostat/climate.py.orig     2021-12-27 13:21:10.336811313 +0100
+++ custom_components/ai_thermostat/climate.py  2021-12-27 13:21:25.356827904 +0100
@@ -202,7 +202,7 @@
                self.call_for_heat = No

[2021-12-27 19:33] npirtube opened #137 "Installation process"
First of all thank you very much for the work you have done and forgive me for my English.

I recently bought some TRV BRT-100 valves.
I already have them linked to Home Assistant through ZigBee2mqtt and looking for a good option to manage them I found your addon for HACS.

I have tried to follow the steps you indicate but I think I must be doing something wrong.
Could you please elaborate more on

[2021-12-27 20:15] npirtube commented on #137
I have added this configuration in the configuration.yaml file but after restarting HA and adding a card to Lovelace, I don't see how to control the thermostat, I don't get anything.

`climate:
  - platform: ai_thermostat
    name: Oficina
    thermostat: climate.trv
    unique_id: Oficina_01
    temperature_sensor: sensor.higrometro_oficina_temperatura
    #window_sensors: group.office_windows #

[2021-12-27 20:16] npirtube commented on #137
![image](https://user-images.githubusercontent.com/77105598/147504390-7d281112-2716-4c98-8c7a-bf84653d97e8.png)

[2021-12-27 21:56] KartoffelToby commented on #137
Pls check the logs, and enable debugging mode, than we can see whats going on.

[2021-12-27 21:59] KartoffelToby commented on #136
Its not clear whats wrong on your setup.

If a window is OPEN the TRV turn off, if the window is CLOSED the TRV going to the last state before the window is opend,

if you havent setup a window_off_delay the default is instanly, depend on your Zigbee network this can be 1-5 seconds

[2021-12-27 22:10] denysdovhan commented on #41
Or maybe even better to give an ability to specify `calibration_type` and `calibration_round` in the configuration. Of course, it should have a notice or it even may be hidden under the `advanced` option.

I'm using TS0601 with manually edited devices file and it works fine so far:

[code]

The only downside is the inconvenience of editing the sources manually on every update.

Also, it would be g

[2021-12-27 22:14] KartoffelToby commented on #135
PLS checkout 0.9.1 i changed the rounding to round up insted of done.

The main problem is that the SEA801-Zigbee/SEA802 treated as a tuya device in Z2M and this uses a hex convertion for the values, sadly this current hex converter in Z2M isn't cabale of using float values, so only full int calibration is currently possible on this devices, also its limited to -6 - 6°C i think its a wrong limit b

[2021-12-27 22:15] KartoffelToby commented on #134
@danielszilagyi your link is dead, @RubenKelevra is on that issue.

For now its disabled in 0.9.1

[2021-12-27 22:30] KartoffelToby commented on #41
@denysdovhan feel free to open a new discussion, if more people want this i will add a option, but i didn't plan to add a other config for calibration type, it will be confusing normal users and makes issues very hard to debug, because every user can uses differend settings on different TRVs.

I try always to chooes the best methods for earch TRV. so for the TS0601 @RubenKelevra reports me several

[2021-12-27 22:30] danielszilagyi commented on #134
`http://elnezest.goodman.hu/climate.py.diff`

Sorry, the url was malformed in the original comment, I edited it now. It's really a minor change, for me it didn't make sense for this timestamp variable to be None initially. Thermostats behave normally as I can see now, at least in the past few hours. I'll update to new releases and really happy for this project guys. Thanks :)

[2021-12-27 22:33] KartoffelToby commented on #134
Thanks i'm with you but i didn't want to mess up rubens work ;)

[2021-12-28 08:00] npirtube commented on #137
The registry tells me the following:

`This bug originated from a custom integration.

Logger: custom_components.ai_thermostat.climate
Source: custom_components/ai_thermostat/climate.py:303
Integration: ai_thermostat (documentation, issues)
First occurred: 08:57:51 (1 occurrences)
Last logged: 08:57:51

ai_thermostat Oficina TRV: climate.trv is not in HA or wrong spelled`

[2021-12-28 18:28] IvanUpa opened #138 "BRT-100-TRV does not work in 0.9.1"
After updating to 0.9.0 and 0.9.1 all my BRT-100-TRVs stopped working.

[code]

In the log only:
[code]

TRV:
[code]

include_device_information: true
HA: 2021.12.6
z2m: 1.22.1-1

[2021-12-28 18:56] IvanUpa commented on #138
Rolled back to 0.8.6 - works correctly.

[2021-12-28 19:41] tieuwe commented on #138
Same thing here with 6x BRT-100-TRV. New to this add-on and thought I was doing something wrong after installing and testing latest version. Then bumped into your comment @IvanUpa and tried version 0.8.6. Now seems to work as expected.
@KartoffelToby: think something went wrong in updated code? I use the same versions as IvanUpa

[2021-12-28 19:42] KartoffelToby commented on #138
@tieuwe possible that the rewrite stuff breaks something, 0.8.7 should work too, i'm currently investigating this issue.

[2021-12-28 19:46] IvanUpa commented on #138
@KartoffelToby
0.8.7 - crashed if no night mode is setted

[2021-12-28 22:28] KartoffelToby commented on #138
@tieuwe @IvanUpa fixed in 0.9.2 big sry

[2021-12-28 22:28] #138 closed

[2021-12-28 22:32] KartoffelToby commented on #137
Looks like climate.trv doesn't exist in your HA, can you show the HA developer output of your TRV?

[2021-12-28 22:33] KartoffelToby commented on #136
OK, related on other issues i think you mean that your TRV is always off, thats because of a main logic bug in the code, its fixed in 0.9.2

[2021-12-28 22:33] #136 closed

[2021-12-28 22:34] KartoffelToby commented on #135
There was also a main logic bug in the code, fixed in 0.9.2 its possible that the rounding is switched back to full round in the next versions.

[2021-12-28 22:34] #135 closed

[2021-12-28 22:45] tieuwe commented on #138
No problem, i verry much appreciate all the effort! Thanks for the quick solution!

[2021-12-29 08:00] npirtube commented on #137
Thank you for your prompt reply, which is also helping me to find my mistakes.

In the configuration, where I put "thermostat: climate.trv" I should have put "thermostat: climate.radiador_oficina" I have corrected that.
Now I can see it correctly. I'm going to test the operation and I hope that now everything goes well.

[2021-12-29 08:02] IvanUpa commented on #138
@KartoffelToby
I do not work, only now and in the log does not write anything. As if I do not change the temperature.

[code]

[2021-12-29 08:06] tieuwe commented on #138
Yeah.. i was also too fast saying it was ok. Unfortunately the latest version doesn't work for me either. Rolled back to old version again now.

[2021-12-29 08:44] danielszilagyi commented on #138
I woke up to all three ai_thermostat controlled radiators being cold this morning. Temperature was 4-5 celsius below the setpoint. Updated to .2 in the night, Should I roll back??

[2021-12-29 10:49] KartoffelToby opened #140 "Bug tracker for Versions after 0.8.6"
This is a collector issue for all problems that appeard after 0.8.6 (last before the rewrite)

[2021-12-29 10:51] KartoffelToby commented on #138
please write it on #140

and make sure you update to 0.9.2

[2021-12-29 10:53] KartoffelToby commented on #137
Okay, close this one. if you have a non config bug use #140

[2021-12-29 11:02] npirtube commented on #137
Before closing the subject, I'm doing test runs and I'll explain what I see.
I have been able to add the settings correctly, but what I don't see is that it executes any action.

I mean, if I click on the "off" button on the board, I should see the TRV motor move and it should change its "position" to "0%".
But it doesn't make any change.

I think it does nothing because I see through Zigbee2mqtt

[2021-12-29 11:05] m-novitsky commented on #140
After restart ai_thermostat the mode is set to "off", at any temperature (local and target).
ai_thermostat triggered states > window open: False night mode: False Mode: off set: off
TS0601, v.0.9.2

The mode was set manually. But after that, as I see from the logs, nothing happens, the target temperature does not change for a long time.

[2021-12-29 11:13] Styx85 commented on #140
I can confirm @m-novitsky described behavior. It (TS0601) works with 0.9.1 but just sticks to off in 0.9.2.

[2021-12-29 11:22] KartoffelToby commented on #137
test 0.9.2 if it doesn't work for you switch back to 0.8.6 take a Look in #140 there are some main Problems after the Last rewrite of the Code so i'm working on it

[2021-12-29 11:44] #137 closed

[2021-12-29 11:50] denysdovhan commented on #140
I can confirm as well. TS0601 works fine on 0.9.1 but doesn't work on 0.9.2

[2021-12-29 12:24] IvanUpa commented on #138
I know this and I check the version through: /config/custom_components/ai_thermostat/manifest.json

[2021-12-29 13:23] KartoffelToby commented on #140
Checkout 0.9.3

[2021-12-29 13:54] danielszilagyi commented on #140
Thanks for the quick update. Thermostats now seem to work, will check in later with longer term behavior.

[2021-12-29 15:44] Styx85 commented on #140
I think I found another bug, but I am not sure if it was ever working correctly.

The Siterwell GS361A-H04 is not working with ai_thermostat at all (vendor ID _TZE200_ps5v5jor). A custom thermostat  is created and visually working but if the temperature is changed or a window is opened the original ZigBee thermostat is not reacting, neither getting any log output in zigbee2mqtt.

Here is my config

[2021-12-29 16:51] danielszilagyi commented on #140
Window detection doesn't work for me in 0.9.3. Additionally, this is the last update in the log for this thermostat. I just opened the window (at 17:40 local time) and not even a single line of log was generated.

2021-12-29 15:46:34 DEBUG (MainThread) [custom_components.ai_thermostat.climate] ai_thermostat triggered states > window open: False night mode: False Mode: auto set: heat has_mode: True

[2021-12-29 17:04] tykarol commented on #140
The "summer" state attribute is true but the forecast is 4,3 °C, before the update (I think I had the 0.9.0) to the latest version (0.9.3) I didn't see the "Summer" on the "Better Thermostat UI" card but now it's displayed.

I think here
https://github.com/KartoffelToby/ai_thermostat/blob/cb6ba17d69a8a2a851c00ee60622f56ef9fca86c/custom_components/ai_thermostat/climate.py#L379 should be the inverte

[2021-12-29 19:36] danielszilagyi commented on #140
Window detection now worked, but for some reason all the TRVs keep heating after the setpoint is reached. All my valves are on 90/100 percent while the setpoint is for example 23 degrees and the room temp is 23.4 already.

[2021-12-29 19:42] tieuwe commented on #140
Hi, started using this integration after recommendations of others.
In my setup i have:
- 6x Moes BRT-100-TRV valves (of wich 4x with ai_thermostat integration and groups)
- Installation Type: Home Assistant OS
- Version: core-2021.12.6
- Zigbee2mqtt Current version: 1.22.1-1

Started with version 0.9.1 i think. Couldn't get it to work or thought i didn't understand how it should work.
- Settings

[2021-12-30 00:03] alexw1982 commented on #140
i can confirm this issue

[2021-12-30 07:10] angustPL commented on #140
in version >0.8.6 it does not recognize the device
2021-12-30 08:03:47 INFO (MainThread) [custom_components.ai_thermostat.climate] Register ai_thermostat with name: sypialnia
2021-12-30 08:03:47 DEBUG (MainThread) [custom_components.ai_thermostat.climate] ai_thermostat: avg outdoor temp: 0
2021-12-30 08:03:47 DEBUG (MainThread) [custom_components.ai_thermostat.climate] ai_thermostat True
2021-12-3

[2021-12-30 08:43] sliwma commented on #140
In the newest version on all thermostats I got "inactive - summer" even without weather/external sensor configured, and when configured with weather (4.2 degree) it still thinks it summer. Logs are clean.

[2021-12-30 12:02] denysdovhan opened #141 "Normal calibration for TS0601"
This is an issue for collecting feedback for normal calibration for TS0601.

At the moment TS0601 uses **target temperature calibration**, because of the reasons discussed in #41.

Personally, I've been using **normal calibration** just fine (by editing source files of this integration). As @KartoffelToby suggested, I'm opening an issue for collecting feedback for the normal calibration of TS0601.

[2021-12-30 12:22] danielszilagyi commented on #141
I’ll check my TS0601s with the latest release and change the calibration type. I think there are multiple versions of TRVs with this chipset, I can imagine the behavior also depends on firmware level. Mine are Moes HY368 by the way.

I reverted to 0.8.6 finally because newer versions totally went crazy this morning. I reverted to 0.8.7 firstly with the dampening modification and its behavior becam

[2021-12-30 12:25] denysdovhan commented on #141
I'm using 0.9.1. It's the latest version that works predictable for me. Newest versions are crazy unstable.

[2021-12-30 12:37] KartoffelToby commented on #141
you Guys can Checkout 0.9.3 the hole night mode weather thing is fixed there

[2021-12-30 12:55] danielszilagyi commented on #141
Hi Tobias,

I tried yesterday right after you published the release but I have had major issues. Please let me know what input you need to further inspect. I posted the symptoms yesterday but it was far away from working compared to 0.8.6.

Daniel

[2021-12-30 13:47] RubenKelevra commented on #110
Well, this sounds like your thermostat haven't yet fully calibrated itself to the room characteristics.

It just expects that it needs 100% heating power to keep the room at a falling temperature from 18°C to 14°C.

Sounds weird, but that's the reason you need to keep the thermostat on even after it reached the heating point in the room. The PID algorithm will just go nuts otherwise.

I've checked

[2021-12-30 13:55] denysdovhan commented on #141
I just came up with another idea: the ability to specify `model`, similarly to [how Yeelight integration works](https://www.home-assistant.io/integrations/yeelight/#model). The model is detected automatically, but if your device works not the way you want, you may specify the model manually.

Similarly, the thermostat model might be detected automatically, but for those who want normal calibration

[2021-12-30 15:54] florianbrede-ayet opened #142 "Bug in local_temperature_calibration_entity selection and broken SEA802 firmware?"
I forked this repository and implemented a PID controller to improve my badly & slowly reacting SEA802 valves on old, high volume & heat radiators.
When working on `master`, I noticed 2 possible bugs that broke the ai_thermostat functionality for me:

~~1.) I have problems understanding why in `climate.py`, the current TRV calibration is carried over, although the calibration delta wouldn't apply

[2021-12-30 16:17] florianbrede-ayet commented on #142
I understood that (1) is a bug of my thermostats. They randomly(?) decide whether to respect the calibration_offset or just ignore it. It works after 1-2 published states for offset ranges between `-5 to +6`.
Are the thermostats broken by design or is this a zigbee2mqtt problem?:

[code]

[2021-12-30 17:18] RubenKelevra opened #143 "Can't recover from an open window after restart"
There's an issue with the current code:

The status of the heat (on or off) is saved in a temporary variable which's content get lost on a restart.

So if I have the heat on, open a window, restart and close the window the heat will be off permanently.

Again, I don't think that the thermostat should show even `off` if a window gets opened. It should show `auto`.

If it is showing off, that should

[2021-12-30 17:22] RubenKelevra commented on #140
There are no bugs 😌😬

[2021-12-30 17:23] RubenKelevra commented on #140
Can you create a dedicated ticket for that, I'll have a look at it. :)

[2021-12-30 21:00] sliwma opened #144 ""Inactive - Summer" even without weather/external sensor configured"
As per RubenKelevra's request:

Can you create a dedicated ticket for that, I'll have a look at it. :)

I think I know what the issue is. @KartoffelToby have you reworked your display after the breaking change of the attributes in https://github.com/KartoffelToby/ai_thermostat/commit/790b90f90aa7d81e319de97ff3ea720850e61f1d?

_Originally posted by @RubenKelevra in https://github.com/KartoffelToby/

[2021-12-30 21:04] RubenKelevra commented on #144
@KartoffelToby can you please check that and report back?

[2021-12-30 21:05] RubenKelevra commented on #140
@KartoffelToby I think this can be closed. Any bug should have a dedicated ticket. There's no reason to condense this discussion in one.

[2021-12-30 21:09] sliwma opened #145 "Night mode not enabled after HomeAssistant reset"
Another issue, night mode gets on properly, but after the reset, it doesn't check whether night mode should be on or not.

[2021-12-30 21:15] m-novitsky commented on #141
Overall, this is not a good idea. Each model may have additional attributes and settings in the future. And they will affect your TRV.

[2021-12-30 22:09] RubenKelevra opened #147 "Use PRs, write a motivation info and use commit messages"
Hey @KartoffelToby,

I have a very hard time understanding your changes since there's no commit message, you just do changes directly to the master without any additional info, like a motivation text or a documentation of your changes over multiple commits.

I did my best to document my motivations behind certain changes to the codebase to allow you to review my changes. I like to ask you to do th

[2021-12-30 23:13] RubenKelevra commented on #145
Yeah I noticed that there's missing a check for that and I'm currently working on a fix for this. Stay tuned. :)

[2021-12-31 00:11] KartoffelToby commented on #147
yes you're write. sadly there was a lot of breaking Bugs after the rewrite, i tried my best to fix it as soon as possible. as i often sad, my main Workflow are PR to dev, Testing dev, merge to master and Release.

i did direct pushes to save time, sadly i overlooked some Changes from you i might think there is the Bug.

the main Problem was the weather function, you missing some Brackets so a wron

[2021-12-31 00:40] Styx85 commented on #141
One could create an internal white-list.
Standard would be the now used target temperature calibration and for the confirmed working models (could use zigbee2mqtt information here) a white-list for normal calibration is used.

[2021-12-31 01:14] RubenKelevra opened #148 "Fix trv_valve_maintenance()"
The TS0601 cannot handle set valve positions, and also has percent values, so 255 is out of bounds.

The TS0601 needs to have a call for its heat mode and a call for valve shutoff.

[2021-12-31 01:25] RubenKelevra commented on #141
@KartoffelToby can we please release RCs before pushing large-scale rewrites to people. There are obviously bugs and it's not fair to push them to everyone out there without even having done any amount of testing.

[2021-12-31 01:28] RubenKelevra commented on #141
@denysdovhan what's the advantage of having the so-called "normal calibration"? I mean, do you guys really go to the radiator and type in a new setpoint? Is that a realistic usecase?

I never touched my TS0601 interfaces for the past year or so.

On the other hand, my TS0601 just crashes within 1-2 days if I let ai_thermostat push local corrections. Additionally, the PID algorithm is going bonkers

[2021-12-31 09:12] IvanUpa commented on #138
@tieuwe
Have you tried 0.9.3, does it work with the BRT-100-TRV? I stopped understanding the approach to bug reports.

[2021-12-31 09:30] tieuwe commented on #138
@IvanUpa; yes i tried version 0.9.3 and had no luck unfortunately. When I change the thermostat setting from 20 to 23 degrees for example.
In version 0.8.6 this would change the TRV setpoint from 19 to 22 degrees for example.
In version 0.9.3 nothing happens.. The TRV setpoints doesn't change
Haven't tried the open window and programming functionality as indicated earlier
So i'll just keep using t

[2021-12-31 12:21] denysdovhan commented on #141
@RubenKelevra yes, it is. In my rooms it's sometimes easier and faster to adjust valve directly (which is a hand away from my sofa), instead of looking for a phone or saying it to speakers.

Additionally, I suggest reading this amazing article by the creator of HA: https://www.home-assistant.io/blog/2016/01/19/perfect-home-automation/

Literally, the first point in this article "OU SHOULD NOT HAVE

[2021-12-31 14:19] #147 closed

[2021-12-31 14:20] KartoffelToby commented on #144
Yes the logic is reverse after the rewrite i missed this, i'll fix it

[2021-12-31 14:20] KartoffelToby commented on #143
Make some test to save the window state and reset it on startup

[2021-12-31 14:21] KartoffelToby commented on #142
Its limited by HA to -6 to +6 this is a main issue in Z2M currently.

In 0.9.3 its workaround by limit the calibration to the max and min values in HA, so no error should be appear.

[2021-12-31 14:27] KartoffelToby commented on #141
I haven't this Thermostat, it has a local calibration endpoint, so i think it should work, but Ruben has a testing

The thing is, i mean Thermostats that cant calibrate the temperature might not be the best usage with this ext, i'm with you the Thermostat should work without any limitations for the user, the main goal of this project is make the usage easier not harder

[2022-01-01 15:10] KartoffelToby commented on #140
As of my testing, the version 0.9.3 is fixing the issues of 0.8.7-0.9.2 i'll close this issue.

[2022-01-01 15:10] #140 closed

[2022-01-02 16:03] iksrd opened #150 "TS0601_thermostat behaves strangely at night"
TS 0601_thermostat behaves strangely at night. The thermostat at 4.00 automatically set the temperature to 5 C and did not raise
[TS0601_log.txt](https://github.com/KartoffelToby/ai_thermostat/files/7799376/TS0601_log.txt)
![2022-01-02_18-59-33](https://user-images.githubusercontent.com/81743791/147881643-e8a12b92-fee4-424d-88ca-d49f41ec0126.png)
[config.txt](https://github.com/KartoffelToby/ai_th

[2022-01-02 16:04] danielszilagyi commented on #150
I can confirm this, only for a thermostat that has night mode configured. Also happens that this thermostat cannot be set from 5 C to any other temperature, only after a complete HA restart.

[2022-01-02 20:39] sliwma commented on #144
Also related a little, when Summed Mode enabled, temperature goes to 5 degree, but when Summer mode enable AND night mode enabled, it goes to night temperature set in the config.

[2022-01-02 23:48] adamchemiawppl opened #151 "Please provide newbie-friendly documentation"
I find current documentation severely lacking. A couple of code snippets with very limited explanation. No installation guide (which files to copy where), no information on what to do after virtual thermostats are setup - where should they appear, how to verify if all is setup correctly?

I do believe ai_thermostat is valuable work, but I can't experience it myself, as after 2 hours of playing aro

[2022-01-03 05:46] RubenKelevra commented on #104
This bug is still not fixed. Its happened again to me with version 0.9.3:

https://photos.app.goo.gl/gHmYcbWSpH2n6BHs9

[2022-01-03 08:30] tieuwe opened #152 "BRT-100-TRV does not work in 0.9.3"
Valves are not working in version 0.9.3 (personally i rolled back to version 0.8.6 which works for me)
In my setup i have:
* 6x Moes BRT-100-TRV valves (of wich 4x with ai_thermostat integration and groups)
* Installation Type: Home Assistant OS
* Version: core-2021.12.7
* Version Supervisor: supervisor-2021.12.2
* Zigbee2mqtt Current version: 1.22.2-1
* Also use the [better-thermostat-ui-card](ht

[2022-01-03 11:33] adamchemiawppl commented on #152
My valves are TS0601. Plus, my issue was about lack of documentation whatsoever - due to that I can't even confirm, that there is something wrong with the code, or is it me doing something wrong.

[2022-01-03 12:27] tieuwe commented on #152
@adamchemiawppl in that case, ignore my comments

[2022-01-03 13:32] novisys commented on #150
Hi,
Why you have this on your configuration ?
   off_temperature: 21.5
 witouht any "outdoor_sensor" this parameter is not requiered, may be the problem come from this ?
Put an "weather.xxxxx" or "outdoor_sensor" or just uncomment the line like this:
#   off_temperature: 21.5
retart and check !

[2022-01-03 13:35] novisys commented on #150
strange things, i will check it tonight ...

[2022-01-03 13:57] danielszilagyi commented on #150
Sorry I missed to add my configuration.
Here it comes
[config.txt](https://github.com/KartoffelToby/ai_thermostat/files/7802248/config.txt)
.

[2022-01-03 14:38] adamchemiawppl commented on #152
Sure, just wanted to clarify :-)

[2022-01-03 16:15] alexw1982 commented on #142
The new z2m release (out for a few days) should fix that, right?

[2022-01-04 13:27] KartoffelToby commented on #142
Just in Theory, the new release have my PR to allowed Z2M to send float values, but there its also special for the SEA802  and other tuya devices, the converter from decimal to hex only convert int values and sometimes totaly break if it gets a double.

I emit that issue to Z2M but its currently not solved.

also i must checkout what HA gets from Z2M looks like this need another fix too.
![Screens

[2022-01-04 14:03] KartoffelToby commented on #145
@RubenKelevra you can review my PR. it shoud target this issue

[2022-01-04 14:05] KartoffelToby commented on #148
@RubenKelevra We have the opportunity after the code rewrite from mqtt to HA Services, to get the min max values from the entity, like i did with local_calbiration. some devices will use 0-255 others 0-100%
![Screenshot 2022-01-04 150800](https://user-images.githubusercontent.com/8983030/148070787-191960a3-4f57-4459-95d9-281f5ba22a87.png)

[2022-01-04 14:07] KartoffelToby commented on #151
Yes this can be confusing for newbies, i'm planning to build a Wiki and make the readme more clear.

[2022-01-04 14:10] KartoffelToby commented on #152
The BRT-100-TRV are very special in case of support, see: https://github.com/Koenkk/zigbee2mqtt/issues/9486

Can you describe what exactly not working after the update to 0.9.3?

[2022-01-04 14:42] adamchemiawppl commented on #151
Hey Toby,

If you want I could write short installation instructions based on what I found out (where to put which file) you could use, if that's helpful. If you could also help me out with my issue (explaining where I can confirm ai thermostat is actually working), I'd also include that part.

I'm new to Home Assistant, but not new to programming, althogh not in python realm yet :-)

I attach my

[2022-01-04 14:48] danielszilagyi commented on #151
Hi @adamchemiawppl

Did you enable device information publishing in Zigbee2MQTT?

Set debug logging for ai_thermostat so you’ll have some information in your logfile, like this:

![6A66131A-209B-42FA-9B47-6A175D6F14EB](https://user-images.githubusercontent.com/76160997/148076726-a1a89a27-0428-4fae-9f78-42ce76b131a3.jpeg)

[2022-01-04 14:59] adamchemiawppl commented on #151
Hey,
No idea why, but after adding logger bit and restarting HA (again, I did restart it after installation) - thermostat card appeared. Seems to function well, but will double check. Still the documentation issue persists - if me writing short installation guide for beginners helps, let me know, and I'll do it. By short I mean honestly there are just 2-3 paragraphs that would enable me to solve t

[2022-01-04 18:02] KartoffelToby commented on #151
Sure, it would be great if you can create one.

[2022-01-04 18:36] Sasuchisama commented on #141
@denysdovhan You have set other options? My Moes HY368 with calibration_type: 0 dont change the local-calibration-value.
My point of view:
I have 4 of them and use 2 in the latest ai-thermostat for testing. The other 2 i use with a sync-skript as above. Both solutions work. In the ai-thermostat solutions i have spikes (current temp 0,5-1,0 > setpoint temp). My livingroom-solution with the sync-skr

[2022-01-04 23:20] aso824 opened #155 "TS0601 does not work - calibration type 2 and real mode is false"
Hi,

I noticed that this addon totally does not work for me, so turned logs on and found lines like that:

[code]

So, dig into code and found out that when I have calibration type equals to 2, and real mode is false (whatever this means), nothing happens - there is no condition for that situation:
https://github.com/KartoffelToby/ai_thermostat/blob/46b89c8cd483ee25a76104ff0dd650a22fd564b3/custom_

[2022-01-05 04:19] RubenKelevra commented on #151
Hey @adamchemiawppl,

check out the new readme and LMK if this is fixing this issue:

https://github.com/KartoffelToby/ai_thermostat/blob/242b55ca452cdbcf17717f6183f0e0b528ba1799/README.md

[2022-01-05 04:24] RubenKelevra opened #157 "Add some info in the readme how to refresh the ai thermostat entities from the config file"
We currently just assume that the user knows that they can reload the ai thermostat entities from the config file without restarting HA.

I think that's quite uncommon for a custom component and should be mentioned in the readme.

@KartoffelToby feel free to self assign :)

_Should be tackled after #156 and is somehow related to #151_

[2022-01-05 04:33] RubenKelevra commented on #141
Fair enough. In theory, there's nothing holding us back to process the change done locally on a thermostat even without having a local calibration.

We just need to talk about how the change gets processed.

So if the thermostat is currently set to 20°C and shows this value when you change it to 18°C, do you expect your room to be set to two degrees lower or 18°C?

Meaning, the real setpoint might

[2022-01-05 05:06] RubenKelevra opened #158 "Zero conf setup"
We could implement a zero conf setup, which leverages the room entities to group window sensors, climate entities, etc together and tries to find an outdoor temperature sensor or a weather entity.

This would remove any explicit user configuration, except an empty section to load the module in the config file.

[code]

[2022-01-05 05:20] RubenKelevra opened #160 "Write a new about text"
I've added the current about text to the repo (#159), so we can work on a new version directly in git.

It would be nice to eliminate Zigbee from the info, as this is obviously no longer necessary.

[2022-01-05 13:26] adamchemiawppl commented on #151
@RubenKelevra

Wow, that's fast :-) TBH I can't see what was added to readme - seems to me it's same, as it was when I last read it. Not sure I'm familiar with "LMK" acronym though - so maybe I missed something.

Info on refreshing thermostat (issue you referred to) is certainly valuable as well - just found it out this morning on my own, but would be handy to know earlier.

What I would include i

[2022-01-05 13:41] adamchemiawppl opened #162 "Groupped TRV / TS0601 issue - one TRV unresponsive"
Hey,

Setup everything yesterday, and noticed that one of TRV's seems to not work as designed. My setup:
![image](https://user-images.githubusercontent.com/70517453/148226316-33d269e6-19ac-4f82-8a59-baa47c008861.png)

![image](https://user-images.githubusercontent.com/70517453/148226361-b7d90e5d-aecc-4880-999a-dfd50c2354a3.png)
![image](https://user-images.githubusercontent.com/70517453/148226396-

[2022-01-05 13:46] adamchemiawppl opened #163 "IDEA: AI_thermostat_group"
Related to Groupped TRV / TS0601 issue - one TRV unresponsive #162

While recommended climate_group setup for multiple TRV's in one room works, I believe it might lead to issues, as settings that should be common for all TRVs (like night settings / temp sensor etc) and should be set on group level to simplify config.yaml and avoid potential issues where user would set each of those grouped TRVs di

[2022-01-05 14:49] RubenKelevra commented on #151
Well, I added not much but instead deleted much developer informations which shouldn't be in a readme for an end user piece of software anyway.

The idea was to improve the readability by removing clutter and stuff a end user might not want to know or can't understand.

I'll have a thorough look at your recommendations.

[2022-01-06 11:57] Valbx commented on #74
Hello, I'm trying to flash my TVR with but I have no communication when I plug the USB. There is light, I can see the COM is ok, but nothing else. I think I'm missing something. I'm using a CP210x to UART adaptor.

@Se7enair, could you give more informations about the point "7.Connect the FTDI to USB while shortcircuiting the board (see image)" please ? What do we have to short-circuit on the boar

[2022-01-06 14:14] maniacmanfred commented on #74
I have the exact same problem as Valbx.
Please give us some hint

[2022-01-06 16:42] Se7enair commented on #74
Take a look here
https://github.com/EUROTRONIC-Technology/Spirit-ZigBee/issues/1#issuecomment-1006549414

[2022-01-07 12:33] #134 closed

[2022-01-07 13:24] KartoffelToby commented on #74
I create a wiki page for this: https://github.com/KartoffelToby/ai_thermostat/wiki/SPZB0001-with-FW-22190930-doesn't-work,-how-to-upgrade

if any other infos needed let me know or provide a Markdown i'll update the wiki

[2022-01-07 17:07] Padm59 opened #174 "Unable to set the thermostat to off"
Hey,

it is not possible for me to deactivate the TRV through ai_thermostat. When I try to do so, it takes about 2-4 seconds to automatically switch back to heat. If I set the original climate entity from z2m to off, it takes a bit longer but also switches back.

I really checked every automation and other possible thing what could mess with the entity, but they all had nothing to do with it.

I h

[2022-01-07 21:35] marcinwadon opened #175 "Precision"
Hey, is there a way to specify different precision than 0.5 degree?
Specifically, I'd love to set it to 0.1 degree - this is the precision of my temperature sensors and I see a need for setting demand temperature for example 20.7 degree.

From the other hand, most TRVs work with 0.5 precision, so there should be some rounding involved.

[2022-01-07 21:42] marcinwadon opened #176 "TRV modes - off / auto / heat"
Hey, I'd love to force the TRV to be either closed or opened. While I can close the TRV from the ai_thermostat, I cannot turn it forcibly on, as the heat mode is used for automation. Is there a way to map "auto" mode on climate entity on ai_thermostat to "auto" mode on the TRV and "heat" mode to keep TRV opened?

This would be really useful for deaeration process when all TRVs should be opened.

[2022-01-07 22:18] alexw1982 opened #177 "[feature request] away mode"
I would love to see an away mode on the roadmap - similar to the night mode. That mode could be used in automations to turn off TRV (or reduce the temperature) during the day when people start going back offices ;-)

You could also put this in the automation itself - hence it really something that should be considered the icing on the cake some time down the road ... after there is a stable 1.0 ve

[2022-01-07 22:26] denysdovhan commented on #177
I was looking for that feature too! Would be useful a lot!

[2022-01-07 22:32] alexw1982 opened #178 "Night Mode Temp should only be set once per day"
As I observed, when night mode is active and somebody manually increases the temperature , it will (after some time) reset the temperature to the defined for night mode level. In my opinion this is not desirable. Once the temp has been manually changed it should remain at that level until the end of that night mode session. On the next evening it should then return to the night mode temp set in th

[2022-01-07 23:00] denysdovhan commented on #141
After using normal_calibration for more than a week, I've noticed these issues:

1. Sometimes I see spikes of the current temperature (up to 60-70°C). It seems like the integration doesn't keep up with updates of the temperature on the TRV itself. Those spikes of the temperature last for a second (or two) and then get back to normal. However, it's enough to turn off the TRV (as it reaches the targ

[2022-01-08 11:15] sygys commented on #74
Does this also fix the trv_mode issue? Every few hours my SPZ0001 seems to resets itself to trv_mode 2 and closes or opens the valve automatically. going back to temperature controlled. It needs to stay in valve mode

[2022-01-10 08:20] boehser-enkel opened #180 "what calibration functionality"
Hey there,

what is the calibration functionality? I use Eurotronic Spirit Zigbee. What does local calibration functionality mean?

greetz

[2022-01-10 09:51] gavyb opened #181 "Weather configuration is not recognised"
Hi,

I am using Accuweather and have weather.home configured as follows:

`
  - platform: ai_thermostat
    name: bedroom_thermostat
    thermostat: climate.master_bedroom_trv
    temperature_sensor: sensor.ble_temperature_master_bedroom
    weather: weather.home
    off_temperature: 17.5
    valve_maintenance: true
`
I am also getting the following warnings in the log:

`
2022-01-10 09:41:31 WARN

[2022-01-10 10:13] gavyb commented on #162
correct me if I am wrong, but it appears you are trying to group two "virtual(AI)" thermostats? I think the use case here should be to group two "real" thermostats and then use that grouped thermostat in the configuration of this integration?

I have three radiators in one room and when I get round to buying another batch of the TS0601 TRV's I would like to have all of them controlled using a sing

[2022-01-10 18:47] RubenKelevra opened #182 "Switch from Zigbee2MQTT depended device identification strings to general HA ones."
We currently rely on Zigbee2MQTT device information to be active to identify the devices.

That's not necessary. HA itself already has device information stored for all devices (not only Zigbee). Using additional fields limits us to only support Zigbee2MQTT devices and also needs manual intervention to activate it.

So let's switch to HA device information, we still need the info on those:

- [x]

[2022-01-10 19:06] RubenKelevra commented on #182
In the demo case it's

`model: Radiator valve with thermostat (TS0601_thermostat)`
and
`manufacturer: TuYa`

[2022-01-10 19:07] #8 closed

[2022-01-10 19:09] RubenKelevra commented on #182
This would permanently fix https://github.com/KartoffelToby/ai_thermostat/issues/1 :)

[2022-01-10 20:13] #143 closed

[2022-01-10 20:13] #144 closed

[2022-01-10 20:13] #150 closed

[2022-01-10 20:13] #145 closed

[2022-01-11 07:39] RubenKelevra commented on #182
@KartoffelToby which devices do you got? :)

[2022-01-11 11:27] KartoffelToby commented on #182
Eurotronic Spirit and the moes, i think its the 802 but there are always shown as both with a slash

Hardware shoud be the same so its not relevant

[2022-01-12 06:32] RubenKelevra opened #189 "TS0601 sleep mode handling"
The TS0601 is sleeping pretty deeply. If Zigbee2MQTT is restarted or the thermostat is off for a while (I guess). It isn't sending any new updates, not even a mode.

Better Thermostat is in this case showing an "Unavailable" - which is wrong.

Clicking on "heating" on the climate entity for the TS0601 will wake it up regardless and it'll start heating.

Better Thermostat can't do this atm. Clickin

[2022-01-12 06:35] RubenKelevra commented on #189
Better Thermostat should show the current temperature instead and wake the thermostat up by sending the system mode/profile again to the thermostat. After some seconds the thermostat sends back the temperature, which Better Thermostat can use to calculate the right setpoint and send it back.

[2022-01-12 19:50] tieuwe commented on #182
Below info for Moes BRT-100-TRV:

![moes](https://user-images.githubusercontent.com/79140492/149211144-9a30a6ab-fc48-422f-90b9-ec25bedfa1ca.png)

[code]

[2022-01-13 15:16] yavasilek commented on #182
I seem to be a little different
Moes BRT-100-TRV
[code]

[2022-01-14 07:58] yavasilek commented on #152
I confirm. BRT-100-TRV does not work in 0.9.3
Version 0.8.6 is running

[2022-01-14 18:53] RubenKelevra opened #192 "Issues with Instances with ' in the name"
Looks like there's an issue with Instances which have a name configured which contains a '.

That's common if you think about rooms from persons.

I removed the ' and my issues with this instance didn't go away (no response of the real thermostat on inputs to the better thermoset etc).

[2022-01-15 13:40] RPhilbo opened #193 "[feature request] window_on_delay - Add delay after closing window"
Adding a additional delay would be nice.
So after closing the window (group) this delay will applie before start heating again.

[2022-01-15 13:57] RPhilbo opened #194 "Installation - minimal config not working - name differs "ai/better thermostat""
today i joined this cool feature, but came across naming bugs, maybe at some point it changed between "AI" and "better" thermostat?

So i have Home Assistant OS with HACS, installed this repo (, restarted) and followed the minimal config, but got an error about not finding the platform "better_thermostat".
A bit of browsing with the file editor into "/config/custom_components" showed me, that the

[2022-01-15 22:38] RubenKelevra opened #196 "Fail to heat"
![Screenshot_2022-01-15-23-36-01-359_io.homeassistant.companion.android.jpg](https://user-images.githubusercontent.com/614929/149639796-7370dd8a-be10-46de-8f34-2377170d070c.jpg)

![IMG_20220115_233621.jpg](https://user-images.githubusercontent.com/614929/149639800-52fa7506-961a-4b25-a354-b8439f577d4b.jpg)

No heat is available while the Zigbee2MQTT setting is correct.

[2022-01-15 23:26] nTx-Cheerok commented on #194
I actually had a similar issue. I was running this sweet integration for almost a week without issues and it did a superb job. After that i sometimes had the issue that my radiator cooked me over night, because the temperature did not go down. i was able to circumvent this with opening the window and therefore switching it off during the night. This also stopped working. I then had to change the p

[2022-01-15 23:59] vpomax opened #197 "Do not support scheduling"
I have a Moes BRT 100 TRV, I'm using this blueprint scheduler ondrejbaranek/schedule_trv_4zones_6time_frames.yaml (https://gist.github.com/ondrejbaranek/6fafd0a62a6650c8a849e6320713d8fc)

now with your ai_thermostat it do not show programming mode and do not works with this scheduling blueprint

Which scheduling project we should use with ai_thermostat?

[2022-01-16 19:35] RubenKelevra opened #203 "After Window Open/Close events the heat doesn't turn on again"
While Better Thermostat shows the correct value, the corresponding climate entry for the thermostat is set to 5°C.

If I change the Better Thermostat, no change on the climate entry of the thermostat occurs.

If I change the climate entry directly, Better Thermostat will not overwrite the change, even after changing the setpoint on Better Thermostat.

Rebooting HA fixes the issue.

![Screenshot_20

[2022-01-18 10:38] KartoffelToby commented on #194
We are in a renaming process from ai_thermostat to better_thermostat, sadly the PRs are not solved that quick https://github.com/home-assistant/brands/pull/3077

So, you could manually add this repo to your HACS and install the master

[2022-01-18 12:39] nTx-Cheerok commented on #194
Yeah something seems to be off regarding the repository handling. When i try to add it, it tells me "Repository 'kartoffeltoby/better_thermostat' exists in the store."
When i search the hacs store for better_thermostat, it shows the ai_thermostat rep in the list.

[2022-01-18 15:36] Tenkc opened #207 "Support for Popp 701721 TRV"
Any chance to add the Popp 701721 thermostat to better_thermostat?

https://www.zigbee2mqtt.io/devices/701721.html#popp-701721

[2022-01-18 20:26] KartoffelToby commented on #176
mapping heat to a mode called boost?

[2022-01-18 20:27] marcinwadon commented on #176
Not really a boosted but a forcible opened. Boost opens the TRV for n seconds but I want it to open as it does natively with "heat" mode.

[2022-01-18 20:28] KartoffelToby commented on #177
What should the away mode do? set a target temp? or mode?

[2022-01-18 20:30] KartoffelToby commented on #178
How it (should) do it know,

if the time of the start nightmode is triggerd the temp is set to the config set temp, if the night ends, it remains to the temp before night mode triggers, if you adjust the temp between this time stamps it doesn't change anything in the future

[2022-01-18 20:30] marcinwadon commented on #176
So basically for Tuya TRVs default behavior is following:
- off -> TRV closes (0%)
- auto -> TRV works on auto
- heat -> TRV opens (100%)

So I think there should be off and heat 1:1 mapped to TRV. Currently heat in better_thermostat is mapped to auto in TRV. One option is missing

[2022-01-18 20:31] KartoffelToby commented on #180
Devices like the Spirit have a internal temperature sensor thats be used to calc the vavle state, the with the  local calibration this internal sensor can be adjust, so better thermostat use this option to adjust the internal sensor to match a external sensor

[2022-01-18 20:31] #180 closed

[2022-01-18 20:33] KartoffelToby commented on #193
This is what window_off_delay does

[2022-01-18 20:33] #193 closed

[2022-01-18 20:35] KartoffelToby commented on #197
At this time its a planed feature, so you need to wait

[2022-01-18 20:39] KartoffelToby commented on #207
sure, but i need more infos, has it a off mode? or do you need to set the settemp low? what does the system mode heat mean? have it more special stuff?

[2022-01-18 20:44] alexw1982 commented on #177
Target temp

[2022-01-18 22:57] KartoffelToby commented on #176
No, thats one of the main reasons of this project, heat means boost 100% open vavle, its not equal to what HA or Google Home unterstands of mode heat.

So it would be possible to remap heat to boost, than you can trigger the boost mode via a automation or in HA

[2022-01-18 23:00] KartoffelToby commented on #177
Will be add a option like

[code]

Than you can set the away mode via a preset mode, also via a service call

[2022-01-19 00:31] marcinwadon commented on #176
So there is one more missing. Boost isn't enough because it goes back after few minutes

[2022-01-19 00:51] nTx-Cheerok commented on #194
Okay it works now. I reinstalled my hacs, re-connected to github, and restarted my whole instance before trying to install.
It installed it as better_thermostat and used the correct manifest.json.
Before this whole process, it told me i would install better_thermostat, but told me it was missing the ai_thermostat manifest.json. Crazy stuff. Thanks for your support @KartoffelToby !

[2022-01-19 16:09] RubenKelevra commented on #176
Hey @marcinwadon,

heat means that you don't want any cooling. auto means that it will heat or cool as necessary and off means it won't neither heat or cool.

There's no such thing as "full valve open"-mode in the climate entity.

The decision if heat is necessary and how much is the task which is the TRV is meant to do.

---

To get the behaviour you want you can deactivate the PID functionality

[2022-01-19 16:17] Tenkc commented on #207
Bit of a noob here, but I will try to give you an answer ;).

It does not have a off mode, I turn the temperature down to 5 degrees.

System_mode appears to be set to heat only.

There appear to be a possibility for external temp and window sensors, but I haven't figured that out yet.

If you need to know anything specific, let me know!

[2022-01-19 17:41] marcinwadon commented on #176
hey @RubenKelevra

this is exactly what I need :)

---

I'm using PID but TRV uses "off, auto, heat" modes and better_thermostat uses only "off, heat" by mapping "heat" to TRV "auto" and providing temperature calibration. One mode is missing.
The use case for it is e.g. deareation process

[2022-01-19 18:50] pganansia opened #214 "NEtatmo Thermostat"
Hi,
I am using Netatmo Thermostat. Do you plan to develop this model.
Tahnks for what you already done.

[2022-01-19 20:13] RubenKelevra commented on #176
Obviously "auto" is missing 'cause better_thermostat can't cool. :)

Maybe once again:

Auto - > Switch between heating and cooling dynamically
Heat - > forbid any cooling
Cool - > forbid any heating
off - > no heating/no cooling

The TS0601 is actually implemented wrong. It should only have heat and off as well.

[2022-01-19 20:31] marcinwadon commented on #176
It makes sense for general climate but does not make sense for a TRV because it cannot cool at all.

So for TRVs, or directly for Tuya TRV if possible:
- off -> no heating
- auto -> better_termostat drives TRV calibration
- heat -> map 1:1 to TRV heat.

Currently better_termostat uses:
[code]
for TS0601. And the URL for climate you provided above says:

Which makes sense and I don't understand why

[2022-01-19 21:57] RubenKelevra commented on #176
Well, just because we don't have any support for ACs atm doesn't mean we will never implement this.

We can't change the current behaviour. The TuYa TS0601 are exporting their modes wrongly via Z2M.

Actually, we might want to fix that in Z2M, as it is just wrong.

The TRV won't "heat to a target temperature" on `heat`. It will open the valve to 100% and call it a day.

That's not a setpoint heati

[2022-01-19 22:11] marcinwadon commented on #176
Tuya TRV exposes three modes:
- forcibly closed,
- auto,
- forcibly opened. (sauna mode you're saying about)

I'd like to use the local_calibration from better_thermostat, but also be able to forcibly open or close the thermostat if needed. I want to control it from a single climate entity (I understand better_thermostat to be kinda wrapper to the original climate entity that adds local_calibratio

[2022-01-19 22:16] marcinwadon commented on #176
Anyway, if that's not the case for better_thermostat, I will handle it other way :) I just thought that the climate entity here could map all modes for TRVs somehow. I understand Tuya made it wrongly but actually it's because of using climate entity for TRV that is not a fully climate entity

[2022-01-19 23:43] KartoffelToby commented on #176
i didn' get the Point why you need it full open.

i.mean set the climate to off will close the valve and if you want to heat just set it to heat and choose 30°C

[2022-01-19 23:54] marcinwadon commented on #176
Partially yes. As I said, the TRV will open with a delay and that's the case.

[2022-01-19 23:56] marcinwadon commented on #176
There are two cases.
One - I want to open the bathroom TRV (no matter what) in the morning when my wife wakes up and gets a shower.
Second - I want to open *all* TRVs when I want to make a deaeration process or any installation procedure (I need all TRVs to be fully opened, to enforce full flow)

[2022-01-20 04:34] Dabalwwy opened #223 "Temperature difference TS0601"
I have a problem with the TS0601_thermostat head. The difference between the set temperature and the real temperature must be about 2.7C or the head will turn on. Correction of the current temperature set to 0. (https://photos.app.goo.gl/CDp34PXbyK9YZxvH8)

[2022-01-20 06:30] inviz-ize opened #224 "Support of Moes BRT-100-TRV"
Hello!
Would be great to have the support of this device:
https://www.zigbee2mqtt.io/devices/BRT-100-TRV.html

[2022-01-20 08:00] yavasilek commented on #224
There is support, but it only works in the old version. (0.8.6)
https://github.com/KartoffelToby/better_thermostat/issues/152

[2022-01-20 11:18] nTx-Cheerok commented on #194
![image](https://user-images.githubusercontent.com/93096147/150328535-3e2ae0aa-3535-420d-a9a9-8742f67aedd1.png)
![image](https://user-images.githubusercontent.com/93096147/150328343-7edf3f72-9cdd-4c66-ba13-ae5155207502.png)
Its getting even weirder now ... Hacs notified me about an update to better_thermostat (Version 026somthing?? to 0.9.3 - did not take a screenshot here as i recognized it to la

[2022-01-20 17:25] Padm59 commented on #176
Hey I would also like to have the full control.
One way this can be done (I guess) is by using presets. There could be the boost preset and as long as this is set the TRV will be fully open, without automatic switching back. Another preset could be the night mode. I did not read the documentation about the heating entity in HA yet and don't know if this is possible to implement. Maybe you could te

[2022-01-20 19:03] RubenKelevra commented on #223
That's absolutely normal behavior:

The TRV will learn the room characteristics and try to estimate how far the valve needs to be opened to hold the room temperature steady.

The setpoint will always be slightly exceeded at times.

To reduce this you can adjust the hysteresis down to 0.5°C in the valve's settings.

Additionally, we will add some functionality in the future to speed up the learning

[2022-01-20 19:03] #223 closed

[2022-01-20 19:18] RubenKelevra commented on #214
Hey @pganansia,

the project is open to supporting all TRV models. So there's no reason why we could not support this in the short future.

We need some additional information from you to add support:

Please open this file in your HA installation: `/config/.storage/core.device_registry`

It contains the info on all devices you're using.

We need the fields "manufacturer", "model" and "sw_version"

[2022-01-20 19:19] RubenKelevra commented on #224
Hey, this device will get support again in 1.0 :)

[2022-01-20 19:20] #224 closed

[2022-01-20 19:22] RubenKelevra commented on #152
@yavasilek / @tieuwe we will release the first RC for 1.0 shortly. And fix any issues you might encounter with this version until the final release of 1.0.

Sorry for the inconvenience!

[2022-01-21 10:37] RubenKelevra commented on #207
Hey @Tenkc,

can you please provide the manufacturer and model strings the device is reporting to HA?

Details where to find them is here:

https://github.com/KartoffelToby/better_thermostat/issues/214#issuecomment-1017841276

[2022-01-21 11:17] pganansia commented on #214
Hi,
Hera are the json contents:
            {
                "config_entries": [
                    "5d47be64934df64557ec71d613f7e745"
                ],
                "connections": [],
                "identifiers": [
                    [
                        "netatmo",
                        "3619196439"
                    ]
                ],
                "manufacturer": "Netatmo"

[2022-01-21 11:25] artgru commented on #141
Since I am confused now and also noticed some weird behavior in my TRVs, I wanted to test normal calibration.
Does it mean I also need to play with local_temperature_calibration in order to match with the room temp?

Or maybe I should just change to the normal calibration and do not touch the local_temp_calibration (set to 0)?

I'll be grateful for any useful tips ;)

[2022-01-21 11:59] Tenkc commented on #207
Sure, no problem!

'''
                "manufacturer": "Popp",
                "model": "Smart thermostat (701721)",
                "name": "TRV",
                "sw_version": "01.18.0008 01.18",
'''

[2022-01-21 12:12] RubenKelevra commented on #214
@pganansia thanks! We might need to ask for some more info on the device quirks when implementing. But since the next version 1.0 has a feature freeze this device support will land in 1.1.

So there will be a little delay until we have some more questions for you :)

[2022-01-21 13:15] RubenKelevra opened #228 "[1.8] Add support for Feels Like Temps (using the relative humidity of the room)"
Since most room temperature sensors can also provide us with the relative humidity of the room, we can use this to calculate the Feels Like Temperature and use this instead of the real temperature.

So if a room changes in humidity we will change the setpoint accordingly to follow the perceived temperature rather than the temperature a regular thermometer shows.

I've been testing this for a coupl

[2022-01-21 13:23] RubenKelevra opened #229 "Night temperature mold protection"
We will have the relative humidity sensor reading available if  https://github.com/KartoffelToby/better_thermostat/issues/228 gets implemented, so we can add an optional mold-protection for the night mode.

Since in sleeping quarters the relative humidity might increase overnight if the temperature drops and a human is breathing there the chance of condensation on the cold room walls is rising.

I

[2022-01-21 13:37] RubenKelevra opened #230 "Using sun irradiance prediction for estimating future heating requirements"
Additionally, to use the forecast temperature for the new weather algorithm (https://github.com/KartoffelToby/better_thermostat/issues/123) we could extend the function in the future to also read the sun irradiance prediction off the weather forecast.

This allows us to predict how much heat the sun will cast into the rooms on average, lowering the heating requirements over the day.

So we might n

[2022-01-21 13:48] alexw1982 opened #231 "Startup issue on 1.0.0-alpha1"
Hi,

HA throws the following errors after update to 1.0.0-alpha1.

Any idea how to fix this?

[code]

[2022-01-21 15:29] RubenKelevra commented on #231
Yeah I found this yesterday already, but I was too tired to fix it 😄

The alphas are more for the team to get the bugs out before we share the first release candidate :)

[2022-01-21 15:32] alexw1982 commented on #231
Alright, I’ll stay with 0.8.6 for now then - as it is the last more or less properly working version for me

[2022-01-21 18:18] RubenKelevra commented on #231
Please don't close a bugreport as long as the bug is not fixed. :)

[2022-01-21 18:20] RubenKelevra commented on #231
Yeah, we did a lot of work behind the scenes to make the code more future proof. We're currently at the process of ironing out the bugs for the 1.0 release and things will get more reliable and more reliabel in the future :)

[2022-01-21 18:28] alexw1982 commented on #231
Honestly, much appreciated - really looking forward to the release

[2022-01-22 08:31] pganansia commented on #214
Thanks for your answer.
Don't hesitate if you need more information.
Regards.
Pierre Ganansia

Le ven. 21 janv. 2022 à 13:12, @RubenKelevra ***@***.***> a
écrit :

[2022-01-22 16:04] drdownload opened #234 "Generic Thermostat Configuration"
Since the switch to HA service calls it should be possible to make a generic thermostat configuration eg.
turn_off_action, temperature_offset that are now hardcoded for every model?

[2022-01-23 09:53] ChibangLW commented on #182
Does that mean z2m is not needed anymore for zigbee TRVs if this issue is closed? Or is it only for generic information and the business logic still depends on z2m?

[2022-01-23 19:44] quokka84 opened #235 "Support for Wiser iTRV"
Hi!
I love your project! Would it be possible to include the Drayton Wiser iTRV thermostats?

here the exposed information from the dev tools:
hvac_modes: auto, heat, off
min_temp: 5
max_temp: 30
preset_modes:
Boost 30m, Boost 1h, Boost 2h, Boost 3h, Cancel Boost
current_temperature: 20.7
temperature: 21
hvac_action: idle
preset_mode: null
boost_end: 1970-01-01T00:00:00+00:00
boost_remaining: 0
pe

[2022-01-23 23:15] convicte commented on #234
I am also very interested in this option.

Having installed a Tuya-based Wifi controller with the capacity to manage 7 zone valves (on/off switching), I'd love to be able to utilize this integration to control underfloor water heating using the Z2M temperature sensors sprinkled around the house.

https://sklep.automat-on.pl/Sterownik_ogrzewania_podlogowego_WiFi_7_stref.html (in Polish)
https://skl

[2022-01-24 11:23] tieuwe commented on #152
Hoi, i have installed version RC 1.0 beta now. TRV's seem to respond, so that is already better than versions between 0.8.6 and RC 1.0.
Will test this a bit more and give feedback later.

[2022-01-24 14:34] #174 closed

[2022-01-25 11:43] #175 closed

[2022-01-25 14:47] Schlurcher opened #236 "Support FRITZ!DECT 301"
I'm using FRITZ!DECT 301 TVRs via the AVM FRITZ!SmartHome Integration, would be awesome if they can be supported.

If you can give me a pointer on where to look I may be able to contribute this myself.

[code]

![image](https://user-images.githubusercontent.com/973681/150998542-5a9b0d32-4300-4b08-938d-358cc6257d63.png)

[2022-01-25 15:02] snechiporenko commented on #231
New error in Alpha2:

  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 249, in _async_setup_platform
    await asyncio.shield(task)
  File "/config/custom_components/better_thermostat/climate.py", line 113, in async_setup_platform
    BetterThermostat(
  File "/config/custom_components/better_thermostat/climate.py", line 210, in __init__
    self.version = Path(os.pat

[2022-01-25 22:59] rubenkr commented on #194
hi, same for me I get an error from home-assistant that platform better_thermostat is unknown.
However if I change above config of nTx-Cheerok to ai_thermostat Home-Assistant is not complaining and loading the config. I am using the latest version 0.93.

Thank you for ideas how to solve this.

[2022-01-27 13:36] krlmdfk opened #239 "Support TV02-zigbee"
Please add suport for TV02.

hvac_modes:
  - auto
  - 'off'
  - cool
  - heat
  - dry
  - fan_only
min_temp: 0
max_temp: 30
target_temp_step: 0.5
preset_modes:
  - none
  - auto
  - manual
  - holiday
current_temperature: 21
temperature: 23
preset_mode: manual
battery_low: false
boost_timeset_countdown: 0
child_lock: LOCK
comfort_temperature: '23.0'
current_heating_setpoint: '23.0'
device:
  appli

[2022-01-28 22:26] RubenKelevra opened #242 "Auto Boost Mode / Dampening on manual input"
## Motivation

I noticed that my Thermostats sometimes react very slowly on changes to the setpoint. Example:

- Temperatur at the thermostat: 24°C; setpoint: 24°C
- Lowering of setpoint by 5°C
- Thermostat closes from 80% to 40% and stays there.

While this might be an extreme case we can certainly improve the reaction time of the thermostats if we receive a user input.

## Solution

If the user

[2022-01-28 22:57] RubenKelevra commented on #239
Hey @krlmdfk,

thanks for the informations! Support won't make it into 1.0 as we got a feature freeze for it.

But it should land in 1.1.

[2022-01-28 22:59] RubenKelevra commented on #236
Hey @Schlurcher,

thanks for providing the information. There's already a feature freeze on the net version 1.0, so the support is probably landing in 1.1 then.

[2022-01-28 23:01] RubenKelevra commented on #235
Hey @quokka84,

That's most certainly possible, not in the next version as there's already a feature freeze on 1.0, but it should land in 1.1.

We will request the additional informations we need as soon as we start the development cycle for 1.1 from you.

[2022-01-28 23:06] RubenKelevra commented on #234
Hey @drdownload,

well the main reason to have dedicated configuration and device detection is to make it easy to convert advanced functions to their different devices quirks.

Some devices for example cannot be turned off by a system mode. Other devices will report a wrong setpoint like 5°C if turned off which need to be ignored.

While in theory possible I haven't really understood why this is n

[2022-01-28 23:08] RubenKelevra commented on #234
Hey @convicte,

this sounds more like you have a device which needs some special handling.

Please open a dedicated ticket to let us discuss that matter. Thanks!

[2022-01-28 23:24] novisys commented on #242
Good news, i waited for this enhancement for a moment !
Thanks !

[2022-01-29 08:36] krlmdfk commented on #239
Thank you for your replay.

pt., 28 sty 2022, 23:57 użytkownik @RubenKelevra ***@***.***>
napisał:

[2022-01-29 14:24] RubenKelevra opened #243 "Avoid storing data in filenames of device configurations"
I would actually prefer not using the filenames as information storage, was we might encounter problems with storing strange "strings" there in the future.

Let us use human readable names, like the model name printed on the box for the filenames and define the model and vendor strings in the yaml file instead, where we can encode all UTF-8 characters.

_Originally posted by @RubenKelevra in https

[2022-01-29 15:51] Forcefx opened #244 "Alpha versions not installable via hacs"
Hi,

 I cant install the Alpha Version via hacs.

ERROR (MainThread) [custom_components.hacs] No manifest.json file found 'custom_components/ai_thermostat/manifest.json'

Sorry when this is stupid, I got good intensions

[2022-01-29 16:43] #244 closed

[2022-01-29 16:45] Forcefx commented on #244
I just retried it and the nee Name „Better Thermostat“ was shown in hacs and I was able to install Alpha 3

[2022-01-30 13:06] TheDukeSr opened #245 "Hacs install gives Security warning for badge.t-haber.de"
When trying to install by Hacs my Bitdefender comes up with a security warning.
`Invalid certificate for domain https://badge.t-haber.de/`
I checked manually, and the domain has indeed a security problem.

Problem code:
[code]

[2022-01-30 13:11] alexw1982 commented on #245
Could be the let’s encrypt issue …

[2022-01-30 14:01] TheDukeSr opened #246 "Setting current_heating_setpoint is not correct or not changing at all"
Target temp value between TRV (measued on device and Zigbee2MQTT) and the "Better" devices shows a difference 0.5 or 1 degree.
Mostly it's a 0.5, but sometimes it is 1 degree difference.
The "original" trv value is allways correct. It is the Better value that is wrong.

Also when adjusting "current_heating_setpoint" in Z2M or on TRV device manually directly, the default climate device is set OK, b

[2022-01-30 15:20] KartoffelToby commented on #245
Fixed it, valid cert now, if the error presists let me know, i'll contact bitdefender, this domain is only for displaying the current installations badge in the readme

[2022-01-30 15:20] #245 closed

[2022-01-30 15:24] KartoffelToby commented on #245
![image](https://user-images.githubusercontent.com/8983030/151705923-060c0b20-8c54-4cac-aa6b-d2d20be6ad71.png)

[2022-01-30 17:59] RubenKelevra commented on #231
Oh great, thanks for the hint. I will work on that until it`s working :)

[2022-01-30 20:01] #196 closed

[2022-01-30 20:01] #203 closed

[2022-01-30 20:01] #246 closed

[2022-01-30 20:10] RubenKelevra commented on #194
Hey guys,

the next version update should fix this. Please test the first RC of 1.0 as soon as it is released and report back.

We touched a lot of code in the last weeks, so let's make sure to make this rock solid and report anything you find. :)

[2022-01-30 20:11] #182 closed

[2022-01-30 21:38] RubenKelevra commented on #182
z2m will still handle your TRV. It just means we can handle all climate devices HA can handle, so Wifi, DECT, cloud devices, etc.

[2022-01-30 22:05] #231 closed

[2022-01-30 22:06] #148 closed

[2022-01-30 23:59] nTx-Cheerok commented on #194
Thanks for the notification :) I just installed 1.0-beta1 and at the moment it works. Even one of the problems i had with the window sensor sometimes having issues is gone. At least at the moment. Fingers crossed, this seems promising. Will update if something happens or at least at end of the week with a current state. Thanks for your hard work guys!

[2022-01-31 08:15] jjansen85 commented on #182
Does it mean it can also handle zigbee TRVs connected via Deconz/Conbee?

[2022-01-31 08:24] RubenKelevra opened #249 "[1.0b1] Can't determine default heating point"
On a newly defined device BT will try to recover from no previous saved value and load None as default heating point.

We should either set 20°C here or change the message, as we set None (not having to state this).

[code]

These devices won't setup on the last boot (for other reasons) so they seem to recover an invalid value(?) and override it with 5.0.

We should override it with 20°C and turn

[2022-01-31 08:28] RubenKelevra opened #250 "[1.0b1] Won't setup my valves (TS0601)"
The TRVs are available and are showing in HA, but for some reasons not all preconditions are met and BT will wait indefinitely for them to be available.

"Ys Room" is on and on auto/manual

While the other two are off/manual.

BT will show up in the GUI with just "unavailable".

[code]

[2022-01-31 09:47] itanczos commented on #249
I have the same problem under version 0.9.3.

[2022-01-31 14:18] RubenKelevra commented on #249
I fixed it already :)

[2022-01-31 16:53] RubenKelevra opened #255 "[1.0b2] No reaction on temperature change/mode change (TS0601)"
When I change the temperature or the heat mode there is no corresponding change on the thermostat.

That's the log message:

[code]

[2022-01-31 18:22] ChibangLW commented on #255
My thermostats TS601 and Eurotronics SPZB0001 (no Z2M but ZHA) don't have the field 'local_temperature' but 'current_temperature'. This causes the float exception [here](https://github.com/KartoffelToby/better_thermostat/blob/f54b812e063aa79922deb745d9ed40363f8d2410/custom_components/better_thermostat/models/utils.py#L32) and [here](https://github.com/KartoffelToby/better_thermostat/blob/f54b812e0

[2022-02-01 10:17] erlwes opened #256 "The example code is no longer valid."
Hello!

It seems the example configuration.yaml code provided is no longer valid, since the integration has changed name from better-thermostat to ai_thermostat? ;)

[2022-02-01 10:25] RubenKelevra opened #257 "Rework Logic"
We want to split the Logic and the HA handling as separate modules and create a dedicated handler module for the TRV commands which can accept quirks stored as flags in the yaml file for each TRV.

This ticket is meant to track the progress.

Todo:

- [ ] Rewrite HA handling to send messages from events to a queue
- [ ] Rewrite logic as individual high level module which processes queue messages
-

[2022-02-01 10:26] #250 closed

[2022-02-01 10:27] #249 closed

[2022-02-01 10:30] novisys commented on #256
Not yet !
The official release/master don't use better_thermostat yet!
I think only the alpha/beta/zeta test need to change this vallue

[2022-02-01 14:33] Coax88 opened #258 "My Nedis thermostat stop responding update over v.8.5"
Hi
if i update the hacs intergration above v8.5 my Nedis thermostats stop responding to any heat change and doesn't work with the integration anymore. if i downgrade to 8.5 again it works without problems.

[2022-02-01 17:45] RubenKelevra commented on #239
Hey @krlmdfk,

we need the following info:

- How is the device identified in HA? Go to `Configuration` -> `Devices & Services` -> Tab `Devices`. We need the Manufacturer and Model string.
- If you put it into HVAC mode "heat" will it just heat to the setpoint? Some devices will open the valve completely and work correctly in HVAC mode "auto".

[2022-02-01 17:49] RubenKelevra commented on #236
Hey @Schlurcher,

as far as I can see this device doesn't have a local temperature calibration field, right?

[2022-02-01 20:22] Schlurcher commented on #236
I don't exactly know what you mean by calibration field?
I assume in the attributes "temperature" means the temp that the thermostat is set to and "current_temperature" is the measured temperature.

[2022-02-01 21:37] krlmdfk commented on #239
Hey @RubenKelevra

manufacturer: TuYa
model: Thermostat radiator valve (TV02-Zigbee)

In the manual mode, it aims to achieve the set temperature, while in the auto mode, it follows the schedule.

[2022-02-01 21:47] RubenKelevra commented on #239
Thanks!

I think you confused preset with hvac mode.

We will only use manual mode, but the TS0601 from TuYa needs to be in "auto" hvac mode as "heat" hvac mode will just open the valve to 100%.

So the question is, do you use "heat" or "auto" on the hvac_mode to achieve the setpoint heating?

[2022-02-01 22:27] krlmdfk commented on #239
Yes you are right @RubenKelevra I was wrong. So far I have used "heat" in hvec mode.

[2022-02-01 22:42] RubenKelevra commented on #239
Great!

So the device is using the modes as intended, good to know.

I'll add the device to the database. It should then just start working with the new version I'm working :)

#257 tracks the progress of that.

[2022-02-02 09:06] Se7enair commented on #157
and dont forget to change the button name to better_thermostat. It's still saying ai_thermostat.

![grafik](https://user-images.githubusercontent.com/1680106/152124294-6c21091d-9155-492f-8d09-a2b5f3b613ed.png)

[2022-02-02 11:05] krlmdfk commented on #239
Thank you that's great news.

[2022-02-02 20:19] RubenKelevra commented on #236
Hey @Schlurcher,

sorry for being not that clear.

If you select the device under devices in HA, there are several fields under "Configuration".

Is there one that is called something in the realm of "local_temperature_calibration"?

![HA_devices_example_local_temperature_calibration-01](https://user-images.githubusercontent.com/614929/152230805-946b5c17-51cb-4558-b446-1eb56af65a2d.png)
![HA_devic

[2022-02-02 20:20] RubenKelevra commented on #236
Can you show me where you would set it to MAX? In HA or in some FritzBox app?

[2022-02-02 20:22] RubenKelevra commented on #239
@krlmdfk wrote:

Can you confirm that there's no such preset or switch of some kind to set "Boost" mode?

Or maybe it's just deactivated? Does a preset "Boost" show up if you set something else than 0 in boost_timeset_countdown?

[2022-02-02 20:30] RubenKelevra commented on #235
Hey @quokka84,

we need the following info:

- How is the device identified in HA? Go to `Configuration` -> `Devices & Services` -> Tab `Devices`. We need the Manufacturer and Model string.
- If you put it into HVAC mode "heat" will it just heat to the setpoint? Some devices will open the valve completely and only work correctly in HVAC mode "auto".
- If you select the device under devices in HA,

[2022-02-02 20:32] krlmdfk commented on #239
The boost function is deactivated for me, there is no default preset
function, only an entity that takes a time value (range 0-465 seconds),
theoretically opening the valve at 100%.

śr., 2 lut 2022, 21:22 użytkownik @RubenKelevra ***@***.***>
napisał:

[2022-02-02 20:34] RubenKelevra commented on #239
@krlmdfk ah so you can set boost_timeset_countdown to a value and it will open the valve to 100% and count down to 0?

[2022-02-02 20:35] krlmdfk commented on #239
Yes

[2022-02-02 20:45] RubenKelevra commented on #207
Hey @Tenkc,

I need the following info:

If you select the device under devices in HA, there are several fields under "Configuration". Is there one that is called something in the realm of "local_temperature_calibration"?

@Tenkc wrote:

Yeah the window sensor thingy is most likely what the most TRVs support: Not a real sensor but they detect if the room temperature suddenly drop by several degree

[2022-02-02 21:05] RubenKelevra commented on #214
Hey @pganansia,

we need some additional info from you:

## System mode / presets

Please open the development tools in HA (they might need to be activated to show up in the GUI):

Under `state` search for your Netatmo Thermostat, the ID should start with "climate."

We need the list of values from the `Attribute` row and which state it is in if you do normal heating to a setpoint with it (should

[2022-02-02 21:20] RubenKelevra opened #259 "Eurotronic - SPZB0001 support"
The new model config is incomplete. We need to determine all fields which currently have the value "unknown":

https://github.com/KartoffelToby/better_thermostat/blob/feat/rework_logic/custom_components/better_thermostat/devices/Eurotronic%20SPZB0001.yaml

[2022-02-02 21:20] RubenKelevra opened #260 "Moes - SEA801‑Zigbee / SEA802‑Zigbee support"
The new model config is incomplete. We need to determine all fields which currently have the value "unknown":

https://github.com/KartoffelToby/better_thermostat/blob/feat/rework_logic/custom_components/better_thermostat/devices/Moes%20SEA801%E2%80%91Zigbee%20SEA802%E2%80%91Zigbee.yaml

[2022-02-02 21:22] RubenKelevra opened #261 "Siterwell - GS361A‑H04 support"
The new model config file is incomplete. We need to determine all fields which currently have the value "unknown":

https://github.com/KartoffelToby/better_thermostat/blob/feat/rework_logic/custom_components/better_thermostat/devices/Siterwell%20GS361A%E2%80%91H04.yaml

[2022-02-02 21:22] RubenKelevra opened #262 "BECA - BRT‑100‑TRV support"
The new model config is incomplete. We need to determine all fields which currently have the value "unknown":

https://github.com/KartoffelToby/better_thermostat/blob/feat/rework_logic/custom_components/better_thermostat/devices/BECA%20BRT%E2%80%91100%E2%80%91TRV.yaml

[2022-02-02 21:25] RubenKelevra commented on #258
Hey @Coax88,

sorry for the inconvenience - we did a lot of work after 0.8.5 and there might still some bugs in those versions. @KartoffelToby currently works on the 1.0 release, which should come out in the next week or so.

Feel free to test the release candidate versions of 1.0 when they are released (not the beta/alpha versions) and report back if the issue persists.

Thanks!

[2022-02-02 21:26] RubenKelevra commented on #262
@KartoffelToby can you provide the missing infos? :)

[2022-02-02 21:26] RubenKelevra commented on #261
@KartoffelToby can you provide the missing infos? :)

[2022-02-02 21:27] RubenKelevra commented on #259
@KartoffelToby can you provide the missing infos? :)

[2022-02-02 21:27] RubenKelevra commented on #260
@KartoffelToby can you provide the missing infos? :)

[2022-02-02 22:13] Schlurcher commented on #236
You can set it in the admin ui of the box:
![image](https://user-images.githubusercontent.com/973681/152239862-353e1e98-5b05-48d7-a1f0-5a034b0ab4c2.png)

Or on a connected handset:
![IMG_3746](https://user-images.githubusercontent.com/973681/152241046-cbdbfc80-db31-4462-8aae-ae94cc699f41.JPG)

Or directly on the valve:
![IMG_3747](https://user-images.githubusercontent.com/973681/152241033-29c6262f

[2022-02-03 05:38] Coax88 commented on #258
Thanks for the respond, look forward to the update and will try it out

[2022-02-03 08:45] Tenkc commented on #207
I don't see anything, except for something that could calibrate the temperature using an external temp sensor: switch.trv_kantoor_radiator_covered. I don't see any way to configure this offset mode.

The Popp TRV has both an internal and external window sensor. The internal one works as you describe, with all the flaws.

I got the external window sensor functionality working with a TuYa TS0203 doo

[2022-02-03 11:05] Styx85 commented on #262
The BRT‑100‑TRV does not have an off-mode. One workaround is to set mode to auto, preset manual and 5°C or use the witch eco-mode.

Heat_mode is auto. preset manual

[2022-02-03 11:11] Styx85 commented on #257
Could you provide a general guide how to correctly provide device info / quirks for your needs?

[2022-02-03 11:22] Styx85 commented on #261
HA readout:

[code]

[2022-02-03 11:27] Styx85 commented on #260
HA readout: HA 2021.12.10 Z2M 1.22.0

[code]

[2022-02-03 14:31] Styx85 commented on #262
ha readout:

[code]

[2022-02-03 17:02] ivanovd opened #269 "Better thermostat entities not available"
## System Health

version | core-2021.12.10
-- | --
installation_type | Home Assistant Supervised
dev | false
hassio | true
docker | true
user | root
virtualenv | false
python_version | 3.9.7
os_name | Linux
os_version | 5.10.63-v7+
arch | armv7l
timezone | Europe/Sofia

<details><summary>Home Assistant Community Store</summary>

GitHub API | ok
-- | --
Github API Calls Remaining | 5000
Installed

[2022-02-03 17:07] ivanovd commented on #269
Any assistance would be very much appreciated.

[2022-02-04 00:40] crixionz opened #270 "Support for eQ3-BT TRV"
Hi there!

I'd love to see my [Eqiva eQ-3 BT TRV](https://www.eq-3.com/products/homematic/detail/bluetooth-smart-radiator-thermostat.html) working with this component. Looking forward to release 1.1 haha.
Here's a link to [its integration in HA](https://www.home-assistant.io/integrations/eq3btsmart/)

- The TRV doesn't have a temperature sensor for some reasons (read more in HA docs).
- `current_t

[2022-02-04 08:37] peterprumbach opened #271 "Setup failed for dependencies: mqtt"
I have installed the integration via HASS and configured it in configuration.yaml. I use the FRITZ!DECT 301 thermostat myself, which does not use MQTT. Unfortunately, when I restart after the configuration, I get an error that the dependency on MQTT is missing. The integration is therefore not loaded.

![image](https://user-images.githubusercontent.com/34021473/152497374-1f4f6d96-ed94-42d3-9d42-5b

[2022-02-04 09:15] trevortrevor commented on #269
Looks like the manifest changes haven't been implemented in a release yet so will still be loading as the old name ai_thermostat. You should see a line like:

`[homeassistant.loader] We found a custom integration ai_thermostat which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant`

Therefore ch

[2022-02-04 09:51] ivanovd commented on #269
Hi @trevortrevor and thank you for your input. I am using v1.0 beta 2, however, as you said I see the above line in the core logs:
`2022-02-04 11:47:07 WARNING (SyncWorker_0) [homeassistant.loader] We found a custom integration ai_thermostat which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant

[2022-02-04 09:55] ivanovd commented on #269
Now there is another problem and I don't know if I should open a separate thread of wait for the stable 1.0 release. The external temp now shows in the better-thermostat-card, however, the temp adjuster doesn't control the thermostat, it doesn't change the set temperature. The built-in climate card works though.

[2022-02-04 12:11] TheDukeSr commented on #246
Hi,

Sorry if i don't understand this ticket system correctly.
But the ticket is closed, but i do not see the problem solved?

Today I did a re-install, and same problem is still here.

[2022-02-04 13:53] etxttul opened #272 "Documentation in repository"
Hi,

It appears you have changed the platform name from better:thermostat to AI_thermostat.
In repository;

climate:
  - platform: better_thermostat
    name: room
    thermostat: climate.trv
    temperature_sensor: sensor.temperature
    window_sensors: group.office_windows

Don't work for me, but this does.

climate:
  - platform: ai_thermostat
    name: room
    thermostat: climate.trv
    temp

[2022-02-04 14:52] etxttul opened #273 "Entity unavailable. Support for BECA?"
Hi,

I have a valve bought in Amazon which is according to them is a tuya device;
- Brand: BECA
- Manufacturer: JUNJU
- Model number: ‎JJ-TRT-100-1

When configured with ai_thermostat is is unavailable, I assume my valve is not supported?

![image](https://user-images.githubusercontent.com/58366158/152546804-e678b767-04c4-4ccd-869f-6733b463608c.png)

It is Integrated and working in HA with Zigbee2

[2022-02-04 15:27] TheDukeSr opened #274 "Hi, This was closed, but not solved? Problem still exist."
Hi,

_EDIT: 2 Hours after this post it suddenly has the correct temp.
and 1 hour later the difference is back again, but now a 0,5c difference ?!_

Sorry if i don't understand this ticket system correctly.
This ticket is closed, but i do not see the problem solved?

Today I did a re-install, and same problem is still here.

Zigbee Model: **TS0601**
Zigbee Manufacturer: **_TZE200_ckud7u2l**
[code]

[2022-02-04 16:33] djtomybcn opened #275 "climate.xxxx Not Available"
Hello!
First of all, thank you who make this addon possible.

I bought two trv SEA802-Z01 and I see that they are in the compatible list.

Maybe I'm forgetting something, but this is my configuration (I use a yaml file only for climates)

[code]

And this is the result:
![image](https://user-images.githubusercontent.com/75133593/152557890-d2aed90b-7dfa-4374-a36b-4645cd4a2cd5.png)

I have checked t

[2022-02-04 16:52] djtomybcn commented on #275
I read in another post that it's mandatory windows_sensors.
Working!

[2022-02-04 16:52] #275 closed

[2022-02-04 17:26] peterprumbach commented on #194
There is a problem here with the versions. In version 9.3 and lower the integration was still called "ai_thermostat".

Have a look at [Releases](https://github.com/KartoffelToby/better_thermostat/releases)
There are versions in the status pre-release, in which the renaming to "better_thermostat" has taken place. As soon as version 1.0 is officially released, the documentation will be correct.

[2022-02-04 17:26] peterprumbach commented on #272
There is a problem here with the versions. In version 9.3 and lower the integration was still called "ai_thermostat".

Have a look at [Releases](https://github.com/KartoffelToby/better_thermostat/releases)
There are versions in the status pre-release, in which the renaming to "better_thermostat" has taken place. As soon as version 1.0 is officially released, the documentation will be correct.

[2022-02-04 17:41] etxttul commented on #272
Ok, understood, I just downloaded it from HACS and used what is in the repository. I will try to download the beta version, it might solve my other issue, which I believe is an unsupported valve. I can do that as I'm just playing around to figure out what to do.

Thanks
Tobe

[2022-02-04 17:45] exen904 commented on #256
Im on 0.9.3 and I needed to change it to ai_thermostat, otherwise HA didnt recognize the integration.

[2022-02-04 17:56] trevortrevor opened #276 "Only one local_temperature_calibration being adjusted [SEA802]"
I have 6 SEA802 Saswell Valves being used in separate rooms. Only one of the number.{entity}_local_temperature_calibration values is being updated. Apparently in response to all of the temperature deltas in the house. I added a line to the set_trv_values function in helpers.py to log the entity being updated and I get the following:
![image](https://user-images.githubusercontent.com/37073298/15257

[2022-02-05 09:34] kukachik commented on #274
Can you check local_temperature_calibration ? In my case, it was -1. It must be 0.
![image](https://user-images.githubusercontent.com/7844142/152636418-3fb4a0ed-fc2e-4b94-8760-8ab9081e0594.png)

[2022-02-05 17:25] pganansia commented on #214
Hi,
You will find screen copy of what you asked.
It is not what you expected but I didn't found anything else.
Regards.
Pierre.

Le mer. 2 févr. 2022 à 22:05, @RubenKelevra ***@***.***> a
écrit :

[2022-02-05 17:53] RubenKelevra commented on #214
@pganansia

I think your attachment was dropped by Github.

[2022-02-05 19:50] pganansia commented on #214
Apologize.
I will send you tomorrow what I see in HA for devices.
Regards.
Pierre

Envoyé de mon iPhone

[2022-02-05 21:06] kidpixo opened #280 "Add support for TS0601_thermostat_1"
Hi,
thanks for the great repo!
Support for [TuYa TS0601_thermostat](https://www.zigbee2mqtt.io/devices/TS0601_thermostat.html) is already there, but I got a  [TuYa TS0601_thermostat_1](https://www.zigbee2mqtt.io/devices/TS0601_thermostat_1.html).

I'm not completely sure how different they are, I can try to patch  [better_thermostat/climate.py #L795](https://github.com/KartoffelToby/better_thermos

[2022-02-05 21:14] kidpixo commented on #280
I spoke to early...
Comparing zigbee-herdsman-converters/tuya.js  [L927](https://github.com/Koenkk/zigbee-herdsman-converters/blob/5c1f98ece77e3a160f8a4eb5225e04e6766607cc/devices/tuya.js#L927) and [#L1066](https://github.com/Koenkk/zigbee-herdsman-converters/blob/5c1f98ece77e3a160f8a4eb5225e04e6766607cc/devices/tuya.js#L1066) seems they expose different attributes...

[2022-02-06 14:01] pganansia commented on #214
Hi,
As my screencopy are filtered by GitHub, I send you the journal of config
netatmo.
When I opened the Smart thermostat, as you described, I have only two
entities shown : climate.netatmo_entree
and sensor.netatmo_thermostat_battery_percent.
For a vanne, I found the same kind of entities
: climate.netatmo_chambre_ami and sensor.netatmo_ami_battery_percent.
I hope that will help.
Regards.
Pierre.

[2022-02-07 08:57] RubenKelevra opened #281 "Summer mode"
### Discussed in https://github.com/KartoffelToby/better_thermostat/discussions/266

<div type='discussions-op-text'>

<sup>Originally posted by **kuduacz** February  3, 2022</sup>
Ts0601 with better thermostat and better thermostat card. Without weather in configuration.yaml.
When i restart HA with window opened i ser summer mode on card. What is summer mode?
Btw we have winter right now.</div>

[2022-02-07 10:25] DieMetRik commented on #269
Добрый день. Сегодня решил перейти с ai_thermostat на better_thermostat.

Переименовал в configuration.yaml ai_thermostat на better_thermostat.
Переименовал имя и uid.

После перезагрузки сервера. Пишет так же: Недоступно.
Никаких ошибок в логах нет.
Версия better_thermostat 1.0.0 beta 3

Обратно вернул ai_thermostat все заработало.

Сейчас сделал 2 термостата. Один AI другой better
AI - работает

[2022-02-07 10:44] DieMetRik commented on #269
Нашел решение в дискуссии: [https://github.com/KartoffelToby/better_thermostat/discussions/268#discussioncomment-2104233](url)
Надо добавить:
    window_sensors: input_boolean.better_windows_trv_sensor
    window_off_delay: 15

[2022-02-07 19:02] KartoffelToby commented on #281
Should be working with beta 3 but i'm looking for a fix at startup time for false values

[2022-02-07 19:06] KartoffelToby commented on #274
@RubenKelevra We should make sure that the local_temperature_calibration is set to 0 if we use setpoint_override

[2022-02-07 19:09] KartoffelToby commented on #273
I haven't this device no more, but there was a big issue with the temp update in Z2M. It only updates the values if its touched.

So in this case a calibration is useless, otherwise, the current quirk uses this TRV with our setpoint_override methoed. you can checkout beta 3, or wait vor the 1.0 but if you have any new infos about this main issue from Z2M let me know.

[2022-02-07 19:11] #271 closed

[2022-02-07 19:14] KartoffelToby commented on #269
PLEASE use English so we can help everybody.

Can you try Beta 3?

[2022-02-07 19:18] kuduacz opened #282 "Night mode wont work"
Night start set at 20:00
Night end set on 06:00
Night temp set to 19
Why it wont start ?
1.0.0 beta 2 and 3.

[2022-02-07 19:58] RubenKelevra commented on #274
Nope I don't think so.

I used local temperature calibrations on my valves. Better Thermostat should just ignore them on the setpoint override. I don't think people will adjust them at all manually and if we don't touch them it won't affect our operations.

[2022-02-08 11:26] EddAshforth opened #283 "Support for Hive Thermostat and TRVs"
Hi,

I make use of a Hive heating system, which I run using Zigbee2MQTT (have taken the cloud dependency away).

The equipment I'm using is:

- Main Thermostat https://www.zigbee2mqtt.io/devices/SLT3.html#hive-slt3
- TRV's https://www.zigbee2mqtt.io/devices/UK7004240.html#hive-uk7004240 (based on the Danfoss Ally (014G2461))
- Boiler Controller https://www.zigbee2mqtt.io/devices/SLR1.html#hive-slr

[2022-02-08 12:27] Gymnae commented on #269
I just installed this integration with beta 3 and also face the same issue.
Are there logfiles I could produce which might help?

[2022-02-08 13:30] DieMetRik commented on #269
After add a fake window_sensors work good

[2022-02-08 14:58] Gymnae commented on #269
Not for me, I added an existing binary sensor for `window_sensors` and it doesn't work. Also, I don't have real window sensors

[2022-02-08 15:55] DieMetRik commented on #269
I add a input_boolean in config with name: better_windows_trv_sensor

then add this in configuration.yaml
window_sensors: input_boolean.better_windows_trv_sensor
window_off_delay: 15

after restart server better trv change status from unavailable to normal

[2022-02-08 18:43] Gymnae commented on #269
Oh yeah, I can second this, adding a fake` input_boolean` fixes it

[2022-02-09 12:24] Gymnae commented on #255
Facing the same issue, but using Z2M. better_thermostat does not appear to send sensor or actuator input to the TRV

[2022-02-09 12:25] Gymnae commented on #269
EDIT: While I do see the thermostat entity now, there is no action on the TRV via better_thermostat. No calibration or actuator change is passed on

[2022-02-09 16:56] etxttul commented on #273
Hi,

After testing I can confirm that I don't get any update of local temp update in Z2M, except for when touching the display on the valve. Curious what this setpoint_override methoed is? I tried Beta 3, with no success, still unavailable.

[2022-02-10 08:10] gavyb commented on #269
I have the same problem. The thermostat card is appearing correctly now, but does not control the trv

[2022-02-10 17:15] kuduacz opened #284 "No heat when close window."
I'm think but not preety shure that i find another bug.
Window mode work correctly. I mean heating is stopped when i open window but when i close it thermostat do nothing. Turn to heat from off but do nothing, stay inactive.
Only when i set temperature again (from 22 to 22 for example) it start to work od room temperature is lower (as it should).

8.6 ver.

[2022-02-10 18:17] TheDukeSr commented on #274
Will test it. But need a few days . Busy busy...

[2022-02-11 00:38] herm opened #285 "Requires zigbee2mqtt legacy attributes"
I'm running the current version from master branch (installed via HACS).
Operation fails when legacy attributes in z2m are disabled.
[code]
Searching for this bug I found that this requirement was previously mentioned in the README.md but was removed in #156. Either the legacy attribute requirement should be dropped or this notice should be added back to the readme.

[2022-02-11 10:58] angustPL commented on #261
hvac_modes:
  - 'off'
  - auto
  - heat
min_temp: 20
max_temp: 35
target_temp_step: 0.5
current_temperature: 28.4
temperature: 28.4
away_mode: 'OFF'
battery: 100
child_lock: UNLOCK
current_heating_setpoint: 28.4
device:
  applicationVersion: 73
  dateCode: '20180727'
  friendlyName: Sypialnia Termostat
  hardwareVersion: 1
  ieeeAddr: '0xec1bbdfffe91c208'
  manufacturerID: 0
  manufacturerName: _T

[2022-02-11 16:35] KartoffelToby commented on #285
@herm
If you disabled legacy attributes in z2m whats your output for this TVR? i'm not sure, but i think its renamed to "current_temperature" if thats the case i'll change it.

[2022-02-11 16:37] KartoffelToby commented on #282
Confirmed bug, will be fixed in Beta 4

[2022-02-11 16:39] KartoffelToby commented on #276
You can checkout the latest Beta, i have SEA802 too, works for me,

[2022-02-11 16:40] KartoffelToby commented on #273
Should be fixed in Beta 4

[2022-02-11 16:46] KartoffelToby commented on #269
Confirmed bug, will be fixed in Beta 4

A Fake window sensor is not longer needed

[2022-02-11 19:26] etxttul commented on #273
Hi,
I haven't tested much, but it seems to be working at least it is available and I can set the temperature.
Found a small issue though, when I restart HA the target temperature is set to 5 C, a bit cold in my opinion :-)
My config;

[code]
Side ways;
I wanted to contribute with Swedish translation of the UI, never contributed before and I think I failed. If you didn't get it the right way, here

[2022-02-11 23:39] herm commented on #285
I'm not sure which output you want. So I just guessed that you want the attributes as seen by Home Assistant. I can also provide MQTT logs.
The device is a TuYa based Silvercrest TVR.

Here are the attributes from Home Assistant with legacy attributes **disabled**:
[code]

and here with legacy attributes **enabled**:
[code]

[2022-02-12 00:09] KartoffelToby commented on #285
yes thats it, thanks current_temperature is the new value.

will be changed in the next Release

[2022-02-12 11:59] kuduacz commented on #282
unfortunately the end of the night doesn't work either.
 Temperature auto set to 5.

[2022-02-12 16:38] itanczos opened #287 "The thermostat will lose its settings after restarting the HA."
**The thermostat will lose its settings after restarting the HA..**

The add-ons are the latest version.
Originally the Balázs thermostat was switched off, the Dorci thermostat was set to 20 degrees.
After a restart, the thermostats look like this:

![IMG-4590](https://user-images.githubusercontent.com/411455/153719748-ebd09437-303b-4830-9d3f-8cf9d94e5971.jpg)
![IMG-4588](https://user-images.githu

[2022-02-13 12:41] RubenKelevra opened #288 "[1.0b4] Wrong calculated temperature (on setpoint override)"
When I set 20°C, BT now sets the thermostat to 20°C, even though the thermostat is reading 21.5°C and my room sensor is 19.9°C.

So it should actually set 21.5°C

[2022-02-13 12:43] RubenKelevra opened #289 "[1.0b5] BT won't shut off thermostat"
Given that both thermostats are on, turning BT off won't turn the real thermostat off.

[2022-02-13 12:45] RubenKelevra opened #290 "[1.0b5] won't turn on real thermostat"
Given that both thermostats are off, turning BT on will not turn the real thermostat on.

[2022-02-13 12:48] RubenKelevra opened #291 "[1.0b5] wrong 5 °C as setpoint (for a short while)"
Given both thermostats are on, and I open a window, BT will turn off and turn the real thermostat off.

After closing the window, BT will turn on again, but will override the setpoint of the real thermostat erroneously with 5 °C before updating it again with the right setpoint.

[2022-02-13 12:50] RubenKelevra opened #292 "[1.0b5] Window closure won't turn heat on again"
Given that both thermostats are on, opening and closing the window will lead to an "off" real thermostat, while BT's thermostat is correctly on again.

[2022-02-13 15:30] RubenKelevra commented on #285
@herm wrote:

Thanks for tracking it down and reporting this issue!

The reason I dropped the legacy attribute in the Readme is that it shouldn't be necessary (at least for 1.0).

So the code should be able to handle the attributes updates without needing the legacy flag on.

[2022-02-13 15:37] RubenKelevra commented on #284
This might still be broken in beta 4, as I found a similar issue: #292